.accordion {

	&__questions {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		@include mobile() {
			gap: 8px;
		}
	}

	&__question-field {
		border-radius: 16px;
		overflow: hidden;
		background: #fff;
		cursor: pointer;
		//padding: 25px 14px 30px 30px;

		@include mobile() {
			//padding: 18px 14px 18px 16px;
		}
	}

	&__question-header {
		display: block;
		position: relative;
		padding: 25px 45px 30px 30px;

		@include mobile() {
			padding: 18px 57px 18px 16px;
		}
	}

	&__question-title {
		color: #3A3C40;
		transition: color .2s;

		&:hover {
			color: #337AE0;
		}
	}

	&__question-arrow {

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			right: 14px;
			width: 40px;
			height: 40px;
			background-image: url("../images/icons/qa-arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 50%;
			transition: background-image .2s ease-in-out, background-color .2s ease-in-out, transform .2s ease-in-out;

		}
		&:hover::after {
			background-color: #FFFFFF;
			background-image: url("../images/icons/qa-arrow-active.svg");
			border-radius: 50%;
		}
	}

	&__question-field.opened &__question-arrow::after {
		width: 40px;
		height: 40px;
		background-image: url("../images/icons/qa-arrow-active.svg");
		transform: rotate(-180deg);
		background-color: #FFFFFF;
	}

	&__question-field.opened &__question-title{
		color: #337AE0;
	}


	&__question-answer {
		padding: 0 30px;
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;

		@include mobile() {
			padding: 0 18px;
		}
	}

	&__question-answer-body {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		@include tablet-desktop() {
			flex-direction: column-reverse;
		}
	}

	&__question-answer-text {
		flex: 1 1 60%;
		margin: 0 0 30px 0;
		@include tablet-desktop() {
			font-size: 15px !important;
		}
	}

	&__question-answer-image {
	}

	&__question-answer-image img {
		border-radius: 16px;
	}
}


