.breadcrumbs {
	margin-bottom: 22px;
	padding-top: 145px;

	@include desktop {
		margin-bottom: 12px;
		padding-top: 78px;
	}

	&__list {
		position: relative;
		z-index: 5;
		display: flex;
		padding: 0;
		list-style-type: none;
		font-size: 14px;
		line-height: 1;
		color: #7A7E84;
		//overflow-x: auto;

		@include desktop {
			padding-bottom: 10px;
		}
	}

	&__item {
		display: flex;
	}

	&__link {
		color: inherit;
		transition: color $transition-default;
		white-space: nowrap;

		&:hover {
			color: #000;
		}
	}

	&__current {
		white-space: nowrap;
	}

	&__devider {
		margin: 0 2px;

		&::before {
			content: '/';
		}
	}
}
