.button {
	display: inline-block;
	padding: 19px 30px;
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
	border-radius: 10px;
	border: 1px solid;
	transition: border-color $transition-default, background-color $transition-default, color $transition-default;

	&--outline-blue {
		border-color: $color-global-blue;
		color: $color-global-blue;

		&:hover {
			border-color: $color-black;
			color: $color-black;
		}
	}

	&--light-blue {
		border-color: #F1F7FD;
		background-color: #F1F7FD;
		color: $color-global-blue;

		&:hover {
			border-color: $color-global-blue;
			background-color: $color-global-blue;
			color: $color-white;
		}
	}
}
