.comparison-slider {
	--divider-width: 2px;
	--divider-color: #fff;

	&:focus {
		outline: none;
	}

	&__handle {
		 width: 16px;
		 height: 60px;
		 background-color: #fff;
		 border-radius: 30px;
		 box-shadow: 0 4px 30px rgba(#000, .16);
	 }
}
