.filter-button {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	padding: 14px 28px 15px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: $color-global-blue;
	background-color: #F1F7FD;
	border-radius: 10px;

	&__icon {
		width: 16px;
		height: 16px;
	}
}
