.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-height: 105px;
	z-index: 30;
	background-color: #FFFFFF;
	padding: 28px 80px;
	transition: background-color .2s ease-in-out, padding .2s ease-in-out, border-radius .2s ease-in-out;

	&.darkBg {
		background-color: transparent;
	}


	@include desktop-extra-large {
		padding: 12px 15px;
		box-shadow: 0 1px 16px rgba(#15171B, .04);
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		position: relative;
	}

	&__logo {
		@media (max-width: 1550px) {
			max-width: 220px;
		}
		@media (max-width: 1270px) {
			max-width: 204px;
		}
	}

	.header__logo-default,
	.header__logo-scroll {
		@media (max-width: 1270px) {
			display: none;
		}
	}

	.header__logo-scroll {
		display: none;
	}

	&__logo-mobile {
		display: none;

		@media (max-width: 1270px) {
			display: block;
		}
	}

	&__nav {
		position: relative;
		z-index: 50;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 780px;
		//flex-grow: 1;

		@media (max-width: 1300px) {
			display: none;
		}
	}

	&__nav-links {
		display: flex;
	}

	&__nav-link {
		/*position: relative;*/
	}

	&__submenu {
		max-width: 100%;
		top: 68px;
		position: absolute;
		margin: 0 0 0 -15px;
		padding: 25px 20px 10px 10px;
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition-default, visibility $transition-default, top $transition-default;
		background-color: #FFFFFF;
		border-radius: 0 0 16px 16px;
		backdrop-filter: blur(10px);

		&--two-cols {
			display: grid;
			grid-template: auto / repeat(2, auto);
			grid-column-gap: 10px;
		}
	}


	&__nav-search {
		position: relative;
		margin: auto 0;
		display: block;
		width: 50px;
		height: 50px;

		@media (max-width: 1370px) {
			max-width: 30px;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-size: 22px 22px;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&:before {
			transform: scale(0);
			background-image: url("../images/icons/close.svg");
			background-color: #fff;
			border-radius: 50%;
			transition: transform .1s ease-in-out;
		}

		&:after {
			background-image: url("../images/icons/icon-search.svg");
			transition: background-image .1s ease-in-out;
		}
	}

	&__nav-links.hidden {
		display: none;
	}

	&__nav-search.active:before {
		transform: scale(1);
	}

	&__nav-search.active:after {
		display: none;
	}


	&__right {
		display: flex;
		align-items: center;
		gap: 46px;
		flex-shrink: 0;

		@media (max-width: 1550px) {
			gap: 24px;
		}

		@media (max-width: 1300px) {
			display: none;
		}
	}

	&__right-phone {
		display: flex;
		flex-direction: column;
	}

	&__phone {
		color: #15171B;
		font-size: 22px;
		font-style: normal;
		font-weight: 600;

		@media (max-width: 1550px) {
			font-size: 18px;
		}
	}

	&__phone-span {
		cursor: pointer;
		color: #3A3C40;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		text-align: right;
	}

	&__buttons-row {
		display: none;

		@media (max-width: 1300px) {
			display: flex;
			gap: 8px;
		}
	}

	&__mobile-button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: 1px solid #EAEDF1;
		border-radius: 16px;

		&--phone {
		}

		&--menu {
		}
	}

	&__mobile-button-icon {
		width: 24px;
		height: 24px;
		transition: opacity $transition-default;

		&--menu {
			.header__mobile-button--menu-show & {
				opacity: 0;
			}
		}

		&--close {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;

			.header__mobile-button--menu-show & {
				opacity: 1;
			}
		}
	}
}

.nav__link {
	cursor: pointer;
	position: relative;
	display: block;
	padding: 16px 15px;
	color: #3A3C40;
	font-size: 18px;
	font-style: normal;
	transition: all 0.2s;
	font-weight: 400;
	white-space: nowrap;

	@media (max-width: 1370px) {
		padding: 16px 15px 16px 10px;
	}
}

.header__nav-link .nav__link:hover,
.submenu__link a:hover {
	color: #337AE0;
}

.submenu__link a:hover {
	border-radius: 8px;
	background: #F5F5F5;
}

.menu-arrow {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 12px;
	height: 12px;
	background-image: url("../images/icons/arrow-down.svg");
	background-repeat: no-repeat;
	transition: background-image 0.2s;
}

.open-menu .menu-arrow {
	background-image: url("../images/icons/arrow-down-hover.svg");
}


.submenu__link {
	display: block;
	color: #3A3C40;
	font-size: 18px;
}

.submenu__link a {
	position: relative;
	display: block;
	padding: 16px 20px 16px 30px;
	transition: padding $transition-default;
}

.submenu__link a::before {
	content: '';
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	left: 14px;
	width: 6px;
	height: 6px;
	background-color: #337AE0;
	border-radius: 50%;
}

.submenu__link a:hover {
	padding: 16px 13px 16px 37px;
}

.submenu__link a span {
	position: absolute;
	max-width: 310px;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 0;
}

.nav__menu {
	display: flex;
}

//.nav__search {
//	width: 0;
//	visibility: hidden;
//	border-radius: 16px;
//	color: #A5A8AD;
//	font-size: 16px;
//	font-weight: 400;
//	line-height: 1;
//	background-color: #fff;
//
//	&::before {
//		content: '';
//		position: absolute;
//		left: 16px;
//		top: 0;
//		width: 30px;
//		height: 30px;
//		bottom: 0;
//		margin: auto 0;
//		background-image: url("../images/icons/icon-search.svg");
//		background-repeat: no-repeat;
//		background-position: center center;
//	}
//
//	.search-input-clear {
//		display: none;
//		cursor: pointer;
//		position: absolute;
//		right: 80px;
//		top: 0;
//		width: 30px;
//		height: 30px;
//		bottom: 0;
//		margin: auto 0;
//		background-image: url("../images/icons/close.svg");
//		background-size: 14px 14px;
//		background-repeat: no-repeat;
//		background-position: center center;
//		border-radius: 50%;
//		background-color: #F5F5F5;
//	}
//
//	.search-input-clear.active {
//		display: block;
//	}
//
//}

.nav__search.active {
	margin: 0 13px 0 0;
	//width: 100%;
	visibility: visible;
	transition: width .3s ease-in-out;
	z-index: 50;
}

.nav__search-input {
	padding: 20px 10px 20px 60px;
	max-height: 56px;
	width: 100%;

	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}


.online-write-btn {

}

.header--scroll {

	.header__submenu {
		top: 72px;
	}

	@media (min-width: 1300px) {
		border-radius: 16px;
		background: rgba(0, 0, 0, 0.86);
		backdrop-filter: blur(10px);
		padding: 16px 40px;
		top: 20px;
		right: 17px;
		left: 17px;
		margin: 0 auto;

		&.darkBg {
			background: rgba(0, 0, 0, 0.86);
		}

		.nav__link {
			color: #fff !important;
		}

		.nav__link:hover, .submenu__link a:hover {
			color: #FFAB2B !important;
		}

		.header__logo-default {
			display: none;
		}

		.header__logo-scroll {
			display: block;
		}

		.menu-arrow {
			background-image: url(../images/icons/arrow-down-white.svg);
		}

		.submenu__link a {
			color: #fff;

			&:hover {
				background: rgba(255, 255, 255, 0.06);
			}
		}

		.submenu__link a::before {
			background-color: #FFAB2B;
		}

		.open-menu .menu-arrow {
			background-image: url("../images/icons/arrow-down-hover-orange.svg");
		}

		.header__submenu {
			background: rgba(0, 0, 0, 0.86);
		}

		.header__nav-search:after {
			background-image: url("../images/icons/icon-search-white.svg");
		}

		.header__nav-search:before {
		}

		.header__phone {
			color: #fff;
		}

		.header__phone-span {
			color: #FFAB2B;
		}

	}

	@media (max-width: 1550px) {
		padding: 16px;
	}
}

.nav__search-notfound {

	opacity: 0;
	height: 0;
	visibility: hidden;
	position: absolute;
	top: 65px;
	width: calc(100% - 63px);

	padding: 30px 0 60px;

	border-radius: 16px;
	background-color: #fff;

	transition: height .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;

	&.active {
		height: 100%;
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	.answer__notfound {

		padding: 0 40px;

		&-title {
			color: #15171B;
			margin: 0 0 20px 0;
		}

		&-text {
			color: #7A7E84;
			font-size: 16px;
			font-weight: 400;
			line-height: 140%; /* 22.4px */

			span {
				color: #3A3C40;
			}
		}
	}
}

.nav__search-answer {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 65px;
	width: calc(100% - 63px);
	max-height: calc(100vh - 150px);
	padding: 30px 0 60px;
	border-radius: 16px;
	background-color: #fff;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

	.answer__body {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - 210px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 30px;
		margin: 0 10px 0 0;
		//gap: 50px;
		height: 100%;
		background-color: #fff;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: #FFAB2B;
			border-radius: 16px;
		}

		&::-webkit-scrollbar-track {
			background: rgba(168, 168, 168, 0.32);
			border-radius: 16px;
		}
	}

	.answer__category {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include mobile() {
			gap: 0;
		}

		&:not(:last-child) {
			margin: 0 0 50px 0;

			@include mobile() {
				margin: 0 0 40px 0;
			}
		}

		.answer__category-title {
			color: #15171B;
			margin: 0 0 20px 0;


		}

	}


	.answer__category-showall {
		display: inline-block;
		text-align: left;
		max-width: 130px;
		max-height: 32px;
		padding: 8px 0;
		margin: 10px 0 0 0;
	}

	.answer__category-items {
		display: flex;
		flex-direction: column;
	}

	.services-items {
		gap: 10px;

		.services-item {
			display: block;
			position: relative;
			border-radius: 16px;
			background: #F5F5F5;
			padding: 34px 24px;
			//max-height: 90px;
			overflow: hidden;
			color: #15171B;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 1.4;
			text-transform: uppercase;
			cursor: pointer;
			transition: color .3s ease-in-out;
			z-index: 2;

			@include mobile() {
				padding: 25px 16px;
			}

			p {
				@include mobile() {
					max-width: 185px;
					font-size: 14px;
				}
			}


			&:hover {
				color: #337AE0;
			}
		}

		.services-item img {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
			width: 130px;
			object-fit: contain;
		}
	}

	.doctors-items {

		.doctor-item {
			position: relative;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 15px;
			padding: 14px 25px 14px 0;
			border-bottom: 1px solid #EAEDF1;

			img {
				border-radius: 50%;
			}

			.doctor-item-about {
				p {
					margin: 0;
					color: #15171B;
					font-size: 18px;
					font-weight: 600;
					line-height: normal;
					transition: color .3s ease-in-out;

					@include mobile() {
						font-size: 16px;
					}
				}

				span {
					color: #7A7E84;
					font-size: 14px;
					font-weight: 400;
					line-height: normal;
				}
			}

			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto 0;
				width: 14px;
				height: 14px;
				background-image: url("../images/icons/arrow-search.svg");
				background-repeat: no-repeat;
				background-position: center center;
				transition: background-image .3s ease-in-out, transform .3s ease-in-out;
			}

			&:hover p {
				color: #337AE0;
			}

			&:hover::after {
				transform: rotate(45deg);
				background-image: url("../images/icons/arrow-search-hover.svg");
			}
		}
	}

	.portfolio-items {

		.portfolio-item {
			position: relative;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 15px;
			padding: 14px 25px 14px 0;
			border-bottom: 1px solid #EAEDF1;

			.portfolio-item-about {
				p {
					margin: 0;
					color: #15171B;
					font-size: 18px;
					font-weight: 600;
					line-height: normal;
					transition: color .3s ease-in-out;

					@include mobile() {
						font-size: 16px;
					}
				}

				span {
					color: #7A7E84;
					font-size: 14px;
					font-weight: 400;
					line-height: normal;
				}
			}

			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto 0;
				width: 14px;
				height: 14px;
				background-image: url("../images/icons/arrow-search.svg");
				background-repeat: no-repeat;
				background-position: center center;
				transition: background-image .3s ease-in-out, transform .3s ease-in-out;
			}

			&:hover p {
				color: #337AE0;
			}

			&:hover::after {
				transform: rotate(45deg);
				background-image: url("../images/icons/arrow-search-hover.svg");
			}
		}
	}
}

.nav__search-answer.active {
	opacity: 1;
	visibility: visible;
}

.nav__link--rp {
	margin: 0 15px 0 0;

	@media (max-width: 1370px) {
		margin: 0;
	}
}
