.list-yellow-marker {
	&__elem {
		position: relative;
		padding-left: 24px;

		&:not(:last-child) {
			margin-bottom: 10px;

			@include desktop {
				margin-bottom: 20px;
			}
		}

		&::before {
			position: absolute;
			top: 9px;
			left: 0;
			width: 6px;
			height: 6px;
			background-color: $color-global-yellow;
			border-radius: 50%;
			content: "";
		}

		@include desktop {
			&::before {
				top: 6px;
			}
		}
	}
}
