.map {
	position: relative;
	margin: 60px 40px 160px;
	border-radius: 30px;
	overflow: hidden;

	@media (max-width: 992px) {
		margin: 0;
		padding: 40px 0 150px;
		border-radius: 16px;
	}
}

#mapInner {
	width: 100%;
	height: 650px;
	padding: 0;
}

.map-inner {


	@media (max-width: 992px) {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		right: -9999%;
		width: 100% !important;
		height: 100% !important;
		z-index: 888;
		transition: visibility $transition-default, opacity $transition-default, right $transition-default;

		&.show-map {
			opacity: 1;
			visibility: visible;
			right: 0;

		}
	}
}



.close-map {
	display: none;
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 22px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: url(../images/icons/close.svg);
	background-color: #3A3C40;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: background-color $transition-default;
	transition: background-color $transition-default;

	@media (max-width: 992px) {
		display: block;
	}
}

.map__info {
	position: absolute;
	top: 40px;
	margin: auto 0;
	z-index: 2;
	border-radius: 16px;
	background: #FFF;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
	padding: 40px;
	max-width: 435px;
	width: 100%;

	@media (max-width: 992px) {
		display: none;
	}
}

.map__info-mobile {
	display: none;


	@media (max-width: 992px) {
		display: flex;
		justify-content: space-around;
		gap: 20px;

		.map__info-about {
			background-color: #fff;
			//flex: 0 1 45%;
			position: relative;
			display: flex;
			flex-direction: column;
			max-width: 345px;
			//height: 446px;
			width: 100%;
			padding: 20px 16px;
			border-radius: 16px;
			box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08);

			.map__info-footer {
				margin: auto 0 0 0;
			}


			.map-slider-button-next,
			.map-slider-button-prev {
				display: none;
			}
		}
	}

	@include tablet-desktop() {
		.map__info-about {
			max-width: 300px;
		}
	}

	@media (max-width: 650px) {
		flex-direction: column;
		align-items: center;

		.map__info-about {
			max-width: 360px;
		}
	}

	@include mobile() {
		max-width: none;
	}
}

.map__title-mobile {

	display: none;
	color: #15171B;
	font-size: 24px;
	margin: 0 0 17px 0;

	@media (max-width: 992px) {
		display: block;
	}
}

.map__info-title-mobile {
	color: #15171B;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 20px 0;
}

.map__info-inner {

}

.map__info-title {
	color: #15171B;
	font-size: 30px;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 20px 0;
}

.map__info-buttons {
	display: flex;
	align-items: center;
	gap: 30px;
	margin: 0 0 30px 0;
}

.map__info-placebtn {
	position: relative;
	cursor: pointer;
	color: #7A7E84;
	font-size: 17px;
	font-weight: 600;
	line-height: normal;
	transition: color .2s ease-in-out;
}

.map__info-placebtn:hover {
	color: #337AE0;
}

.map__info-placebtn::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: #337AE0;
	transition: width 0.2s;
}

.map__info-placebtn:hover::after {
	width: 100%;
}

.map__info-placebtn.active {
	position: relative;
	color: #337AE0;

}

.map__info-placebtn.active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background-color: #337AE0;
}

.map__info-content {

}

.map__info-about {
	position: relative;
	display: none;
}

.map__info-about.show {
	display: block;
}

.map__info-slider-body {
	overflow: hidden;
	margin: 0 0 30px 0;

	@media (max-width: 992px) {
		margin: 0 0 16px 0;
	}
}

.map__info-slider {
	position: relative;
	width: 100%;
}

.map__info-slide-image {
	border-radius: 10px;
	overflow: hidden;
}

.map-slider-button-prev, .map-slider-button-next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;
	z-index: 1;
	cursor: pointer;
	transition: opacity $transition-default;
}

.map-slider-button-prev {
	left: 0;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.map-slider-button-prev::after, .map-slider-button-next::after {
	content: '';
	position: absolute;
	height: 18px;
	width: 6px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image .3s ease-in-out;
}

.map-slider-button-prev::after {
	left: 0;
	background-image: url("../images/icons/map-slider-prev.svg");
}

.map-slider-button-prev:hover::after {
	background-image: url("../images/icons/map-slider-prev-hover.svg");
}

.map-slider-button-next::after {
	right: 0;
	background-image: url("../images/icons/map-slider-next.svg");
}

.map-slider-button-next:hover::after {
	background-image: url("../images/icons/map-slider-next-hover.svg");
}

.map-slider-button-next {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
	right: 0;
}

.map-slider-button-next.swiper-button-disabled {
	opacity: 0;
}
.map-slider-button-prev.swiper-button-disabled {
	opacity: 0;
}

.map__info-place-info {

}

.place-info-row {
	margin: 0 0 18px 0;
}

.place-info-row-title {
	color: #7A7E84;
	font-size: 14px;
	margin: 0 0 4px 0;
}

.place-info-row-inform {
	color: #15171B;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.place-info-row-inform p {
	color: #3A3C40;
	font-size: 16px;
	font-weight: 400;
}

.map__info-btn-mobile {
	position: relative;
	display: none;
	text-align: center;
	border-radius: 10px;
	background: #F1F7FD;
	color: #337AE0;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 24px 0;

	&::before {
		content: '';
		position: absolute;
		top: 12px;
		left: 20%;
		right: 0;
		bottom: 0;
		margin: auto 0;
		background-image: url("../images/icons/map-pin.svg");
		background-repeat: no-repeat;
	}

	@media (max-width: 992px) {
		display: flex;
	}

}

.map__info-footer {
}

.map__info-btn {
	width: 100%;
}
