.service-tags {

	margin: 0 0 140px 0;
	max-width: 1150px;

	@include tablet-desktop() {
		margin: 0 0 120px 0;
	}

	&__title {
		color: #3A3C40;
		font-size: 22px;
		font-weight: 500;
		line-height: normal;
		margin: 0 0 30px 0;

		@include tablet-desktop() {
			font-size: 20px;
			font-weight: 600;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		@include tablet-desktop() {
			gap: 8px;
		}
	}
	&__tag {
		display: inline-block;
		border-radius: 100px;
		background: #F5F5F5;
		padding: 20px 36px;

		@include tablet-desktop() {
			padding: 16px 24px;
		}

		p {
			color: #3A3C40;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 1;

			@include tablet-desktop() {
				font-size: 16px;
				line-height: 1.2;
			}
		}
	}
}
