.service-head-banner {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: -70px;

	@include desktop() {
		margin-top: -50px;
	}

	&__inner {
		position: relative;
		height: 634px;
		padding: 140px 0 40px 0;
		margin: 0 40px;
		border-radius: 40px;
		overflow: hidden;

		@include desktop-extra-large() {
			margin: 0;
		}

		@include desktop() {
			border-radius: 0 0 40px 40px;
		}
		@include tablet-desktop() {
			padding: 66px 0 40px 0;
			border-radius: 0 0 16px 16px;
		}
		@include mobile() {
			//height: 464px;
			height: auto;
			padding: 66px 0 283px 0;
		}
	}

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
		transition: max-width $transition-default;

		@include desktop() {
			max-width: 500px;
		}
		@include mobile() {
			max-width: 330px;
		}
	}

	&__about {
		display: flex;
		flex-direction: column;
		z-index: 2;
	}

	&__title {
		max-width: 560px;
	}

	&__list {
		margin: 20px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__item {
		position: relative;
		display: inline-block;
		padding: 0 0 0 22px;


	}

	&__item::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #FFAB2B;
	}

	&__buttons {
		margin: 60px 0 0 0;
		display: flex;
		gap: 20px;

		@include mobile() {
			display: none;
		}
	}

	&__mobile-link {
		display: none;
		margin: 24px 0 0 0;
		color: #337AE0;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		max-width: 155px;

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.5 11.5L10 8L6.5 4.5' stroke='%23337AE0' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}

		@include mobile() {
			display: block;
		}
	}

	&__price-btn {
		max-width: 215px;
		border-radius: 10px;
		border: 1px solid #337AE0;
		color: #337AE0;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;

		&:hover {
			border: 1px solid #15171B;
			color: #15171B;
		}
	}
}
