.section-portfolio-doctor {
	padding-top: 18px;
	padding-bottom: 60px;

	@include desktop {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__container {
		@include desktop {
			padding-top: 24px;
			padding-bottom: 40px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;

		@include desktop {
			margin-bottom: 24px;
		}
	}

	&__nav {
		@include desktop {
			display: none;
		}
	}

	&__slider {
		overflow: unset;
	}
}
