.section-reviews {
	padding-bottom: 160px;

	@include desktop {
		padding-bottom: 80px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__filters {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		gap: 30px;

		@include desktop {
			gap: 16px;
			justify-content: flex-start;
			margin-bottom: 45px;
		}

		@include mobile {
			gap: 16px;
			justify-content: stretch;
		}
	}

	&__filters-box {
		display: grid;
		grid-template: auto / repeat(3, minmax(200px, 320px));
		grid-gap: 30px;

		@include desktop {
			display: block;
		}
	}

	&__filter {
		@include desktop {
			display: none;
		}
	}

	&__filters-button {
		display: none;

		@include desktop {
			display: inline-flex;
		}
	}

	&__button-modal {
		flex-shrink: 0;

		@include desktop {
			font-size: 16px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	&__list {
		display: grid;
		grid-row-gap: 20px;
		width: 100%;
		max-width: 920px;
		margin: 0 auto 60px;
	}

	&__button {
		width: 100%;
		max-width: 343px;
		margin: 0 auto;

	}
}
