.section-portfolio-slider {
	padding-top: 78px;
	padding-bottom: 170px;

	@include desktop {
		padding-top: 60px;
	}

	@include tablet {
		padding-bottom: 60px;}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__slider {
		overflow: unset;
	}

	.slider-nav {
		@include tablet {
			display: none;
		}
	}
}
