.section-case {
	padding-top: 40px;

	@include desktop {
		padding-top: 0;
	}

	&__layout {
		display: grid;
		grid-template: auto / 1fr auto 1fr;

		@include desktop {
			display: block;
		}
	}

	&__back-link-box {
		padding-top: 5px;

		@include desktop {
			display: none;
		}
	}

	&__title {
		margin-bottom: 20px;

		@include desktop {
			margin-bottom: 0;
			font-size: 28px;
			line-height: 35px;
		}
	}

	&__comparison-slider {
		width: 100%;
		margin: 40px 0;
		border-radius: 16px;
	}

	&__content-box {
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		padding-bottom: 130px;

		@include desktop {
			max-width: 100%;
			padding-bottom: 90px;
		}
	}

	&__content {
		font-size: 17px;
		line-height: 1.4;

		@include desktop {
			line-height: 1.2;
		}

		h3 {
			margin-top: 30px;
			margin-bottom: 24px;
			font-size: 24px;
			font-weight: 600;
		}

		p {
			margin-bottom: 24px;
		}

		ul {
			margin-bottom: 24px;
		}
	}

	&__specialists {
		margin: 30px 0;
	}
}
