.section-doctor-feedback {
	padding-top: 50px;
	padding-bottom: 50px;

	@include desktop {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	&__title {
		margin-bottom: 40px;

		@include desktop {
			margin-bottom: 24px;
		}
	}

	&__filter {
		display: flex;
		gap: 30px;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 1.4;

		@include desktop {
			display: none;
		}
	}

	&__filter-text {
	}

	&__filter-btn {
		white-space: nowrap;
		color: $color-disabled-grey;
		transition: color $transition-default;

		&:not(.section-doctor-feedback__filter-btn--current):hover {
			color: $color-text;
		}

		&--current {
			color: $color-global-blue;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 30px;
	}

	&__button {
		width: 100%;
	}
}
