section.doctors
	.container
		.doctors__header
			h2.doctors__title.h2-t
				| В нашей клинике работают
				br
				| специалисты очень высокого уровня
		.doctors__slider.universal-slider
			.swiper-wrapper
				-
					var staff = [
						{
							photo: '1.jpg',
							name: 'Винокур Анастасия <br>Александровна',
							experience: '19 лет стажа',
							awards: [
								'2 награды',
								'15 сертификатов',
							],
							specialization: 'Стоматолог, стоматолог-ортопед',
						},
						{
							photo: '2.jpg',
							name: 'Федотов Руслан <br>Валерьевич',
							experience: '11 лет стажа',
							awards: [
								'3 награды',
							],
							specialization: 'Стоматолог-хирург, стоматолог-имплантолог',
						},
						{
							photo: '3.jpg',
							name: 'Андреев Димитрий <br>Петрович',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Стоматолог-ортопед',
						},
						{
							photo: '5.jpg',
							name: 'Никитин Никита <br>Юрьевич',
							experience: '19 лет стажа',
							awards: [
								'2 награды',
								'15 сертификатов',
							],
							specialization: 'Стоматолог, стоматолог-ортопед',
						},
						{
							photo: '6.jpg',
							name: 'Гордеева Людмила <br>Валерьевна',
							experience: '11 лет стажа',
							awards: [
								'3 награды',
							],
							specialization: 'Стоматолог - терапевт',
						},
						{
							photo: '4.jpg',
							name: 'Романова Анастасия <br>Александровна',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Врач-Стоматолог-Хирург',
						},
						{
							photo: '7.jpg',
							name: 'Пласкин Алексей <br>Александрович',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Стоматолог-хирург',
						},
						{
							photo: '8.jpg',
							name: 'Белякова Татьяна <br>Юрьевна',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Гигиенист стоматологический',
						},
						{
							photo: '9.jpg',
							name: 'Александрова Екатерина <br>Владиславна',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Стоматолог-хирург, стоматолог-имплантолог',
						},
						{
							photo: '10.jpg',
							name: 'Николаева Инга <br>Васильевна',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Стоматолог общей практики',
						},
						{
							photo: '11.jpg',
							name: 'Сергеева Анастасия <br>Сергеевна',
							experience: '9 лет стажа',
							awards: [
								'1 награда',
							],
							specialization: 'Стоматолог-ортопед',
						},
						{
							photo: '12.jpg',
							name: 'Гордеева Людмила <br>Валерьевна',
							experience: '11 лет стажа',
							awards: [
								'3 награды',
							],
							specialization: 'Стоматолог-терапевт',
						},
					]
				for doctor in staff
					// Slide
					.swiper-slide
						.doctor__slide
							+ doctor(doctor.photo, doctor.name, doctor.experience, doctor.awards, doctor.specialization)
			.slider__footer
				.slider__footer-pagination
					.swiper-pagination
				.slider__arrows.black-arrows
					.swiper-button-prev
					.swiper-button-next
		a.doctors__mobile-show-all.btn.m-btn.btn-bg(href='./doctors.html') Все врачи
