section.stocks
	.container
		.stocks__header
			h2.stocks__title.h2-t Акции и скидки на лечение в Иннова Клиник
			a.stocks__show-all.line-link(href='./stocks.html') Смотреть все акции
		-
			var stockList = [
				{
					bg: 'bg1.jpg',
					text: 'Именинникам скидка 15% в течение 14 дней после дня рождения',
				},
				{
					bg: 'bg2.jpg',
					text: 'Программа лояльности Иннова Клиник',
				},
				{
					bg: 'bg3.jpg',
					text: 'Cкидка 5000 ₽ на имплантацию и 20% на КТ зубов',
				},
				{
					bg: 'bg4.jpg',
					text: 'Скидка 10% при имплантации <br>3-х имплантов',
					period: 'С 1 июля 11  сентября',
					isTextBlack: true
				},
				{
					bg: 'bg5.jpg',
					text: 'Пенсионерам скидка 5% при предъявлении пенсионного удостоверения',
				},
				{
					bg: 'bg6.jpg',
					text: 'Скидка 20%  на гигиену для пациентов, делающих гигиену каждые полгода и чаще',
					period: 'С 1 июля 11  сентября',
				},
				{
					bg: 'bg7.jpg',
					text: 'Подписчикам нашей страницы ВКонтакте скидка 3%',
				},
			]
		.stocks__slider.universal-slider
			.swiper-wrapper
				for stock in stockList
					// Slide
					.swiper-slide
						+stock-card(stock.bg, stock.text, stock.period, stock.isTextBlack)
			.slider__footer
				.slider__footer-pagination
					.swiper-pagination
				.slider__arrows
					.swiper-button-prev
					.swiper-button-next
		a.stocks__show-all.stocks__mobile-show-all.btn.m-btn(href='./stocks.html') Смотреть все акции
