// modal-doctor
-
	var veneers = [
		{
			title: 'Виниры из керамики и диоксида циркония',
			image: './images/services/pages/veneer1.png',
			about: ['Сроки установки 2–3 посещения;', 'Плотное прилегание к тканям зуба;', 'Отсутствие аллергической реакции на материал, прочные и лёгкие', 'Подбор цвета винира под цвет собственных зубов максимально точно;', 'Стойкость к изменению цвета накладок от курения или пищи;', 'Более высокая эстетичность в сложных клинических ситуациях;', 'Большой срок службы при правильном уходе;', 'Цена выше композитных (требует работы зуботехнической лаборатории).', 'Сроки установки керамических виниров 2–3 посещенияв течении 10-14 дней.']
		},
		{
			title: 'Виниры из композитного материала',
			image: './images/services/pages/veneer2.png',
			about: ['Сроки изготовления - одно посещение;', 'Возможность коррекции формы и цвета зубов;', 'Высокая эстетика;', 'Минимальное сошлифовывание твердых тканей зубов;', 'Меньший срок службы, чем у керамических;', 'Необходимость ежегодно проводить полировку зуба;', 'Меньшая цветоустойчивость;', 'Меньшая цена']
		},
	]

#modal-doctor.modal
	.modal__window.modal-doctor
		.modal-doctor__inner
			button.modal__close-btn.js-modal-close
			.modal-doctor__body
				.modal-doctor__header
					.modal-doctor__header-img
						img(src="./images/doctors-photo/1.jpg")
					.modal-doctor__header-info
						h3.h3-t.modal-doctor__header-info-name Винокур Анастасия Александровна
						.b-txt.modal-doctor__header-info-grade Стоматолог, стоматолог-ортопед
						.modal-doctor__header-bottom.b-txt
							.modal-doctor__header-bottom-experience 19 лет стажа
							.modal-doctor__header-bottom-rating 4,8
							.modal-doctor__header-bottom-reviews 14 отзывов
							.modal-doctor__header-bottom-awards 2 награды
							a.modal-doctor__header-link(href="./doctor.html")
				// Section Doctor advantages
				.modal-doctor__awards
					h2.section-doctor-advantages__title.h2-t Награды
						sup.title-sup 2
					.section-doctor-advantages__grid(data-modal="advantages", data-modal-mobile="true")
						figure.advantage.advantage--mobile-hide-text
							.advantage__img-box
								img.advantage__icon(src="images/icons/gold-medal.svg")
								p.advantage__year 2013
							figcaption.advantage__text Первое место на чемпионате стоматологического мастерства в номинации "Профессиональное отбеливание"
						figure.advantage.advantage--mobile-hide-text
							.advantage__img-box
								img.advantage__icon(src="images/icons/gold-medal.svg")
								p.advantage__year 2016
							figcaption.advantage__text Первое место на чемпионате стоматологического мастерства в номинации "Эстетическая реставрация"
				// Section Certificate slider
				.modal-doctor__certificate-slider
					.section-certificate-slider__header
						h2.section-certificate-slider__title.h2-t Сертификаты
							sup.title-sup 15
						.slider-nav.slider-nav--dark.section-certificate-slider__nav
							.slider-nav__btn-box
								button.slider-nav__btn.slider-nav__btn--prev
								button.slider-nav__btn.slider-nav__btn--next
					.section-certificate-slider__content.swiper
						.swiper-wrapper
							- n = 1
							while n < 7
								// Slide
								.swiper-slide.section-certificate-slider__elem(data-src="images/section-certificate-slider/cert" + n + "-full.jpg")
									img.section-certificate-slider__img(src="images/section-certificate-slider/cert" + n + ".jpg", alt)
								- n++
		.modal-doctor__footer
			button.modal-doctor__footer-btn.btn.btn-bg.l-btn(data-modal="consultation") Записаться на консультацию
