mixin modal-veneers()
	// modal-veneers
	-
		var veneers = [
			{
				title: 'Виниры из керамики и диоксида циркония',
				image: './images/services/pages/veneer1.png',
				about: ['Сроки установки 2–3 посещения;','Плотное прилегание к тканям зуба;','Отсутствие аллергической реакции на материал, прочные и лёгкие','Подбор цвета винира под цвет собственных зубов максимально точно;','Стойкость к изменению цвета накладок от курения или пищи;','Более высокая эстетичность в сложных клинических ситуациях;','Большой срок службы при правильном уходе;','Цена выше композитных (требует работы зуботехнической лаборатории).','Сроки установки керамических виниров 2–3 посещенияв течении 10-14 дней.']
			},
			{
				title: 'Виниры из композитного материала',
				image: './images/services/pages/veneer2.png',
				about: ['Сроки изготовления - одно посещение;', 'Возможность коррекции формы и цвета зубов;', 'Высокая эстетика;', 'Минимальное сошлифовывание твердых тканей зубов;', 'Меньший срок службы, чем у керамических;', 'Необходимость ежегодно проводить полировку зуба;', 'Меньшая цветоустойчивость;', 'Меньшая цена']
			},
		]

	.modal-veneers&attributes(attributes)
		button.modal-veneers__close.modal-close-btn(type="button")
		.modal-veneers__inner
			each veneer in veneers
				.modal-veneers__item
					h3.modal-veneers__item-title.h3-t= veneer.title
					img.modal-veneers__item-image(src= veneer.image, alt= veneer.title)
					h3.modal-veneers__item-title-mobile.h3-t= veneer.title
					.modal-veneers__item-about
						ul.modal-veneers__item-about-list
							each about in veneer.about
								li.b-txt= about
			button.modal-veneers__btn-back.modal-close-btn.btn.btn-bg.m-btn Вернуться
