// Modal Error
#modal-error.modal.modal--error
	.modal__window
		button.modal__close-btn.js-modal-close
		img.modal__result-img(src="images/icons/modal-error.svg", alt="success")
		h2.modal__title.h2-t Ошибка
		p.modal__text Что-то пошло не так, попробуйте отправить заявку чуть позже
