#modal-send-feedback.modal
	.modal__window.modal-feedback
		button.modal__close-btn.js-modal-close(type="button")
		h2.modal-feedback__title.h2-t Оставить отзыв
		p.modal-feedback__text Нам важна ваша оценка. Вы можете оставьте отзыв о нас на следующих сервисах:
		.modal-feedback__list
			a.modal-feedback__link.js-modal-close(href="#", target="_blank", rel="noreferrer nofollow", title="Яндекс")
				img.modal-feedback__logo(src="images/modals/yandex.svg", alt="Яндекс")
			a.modal-feedback__link.js-modal-close(href="#", target="_blank", rel="noreferrer nofollow", title="ПроДокторов")
				img.modal-feedback__logo(src="images/modals/prodoctorov.svg", alt="ПроДокторов")
			a.modal-feedback__link.js-modal-close(href="#", target="_blank", rel="noreferrer nofollow", title="2GIS")
				img.modal-feedback__logo(src="images/modals/2gis.svg", alt="2GIS")
