// Modal Advantages
#modal-advantages.modal
	.modal__window.modal-advantages
		button.modal__close-btn.js-modal-close
		h2.modal__title.modal-advantages__title.h2-t Награды
		.modal-advantages__grid
			figure.advantage.advantage--modal
				.advantage__img-box
					img.advantage__icon(src="images/icons/gold-medal.svg")
					p.advantage__year 2013
				figcaption.advantage__text Первое место на чемпионате стоматологического мастерства в номинации "Профессиональное отбеливание"
			figure.advantage.advantage--modal
				.advantage__img-box
					img.advantage__icon(src="images/icons/gold-medal.svg")
					p.advantage__year 2016
				figcaption.advantage__text Первое место на чемпионате стоматологического мастерства в номинации "Эстетическая реставрация"
