// Modal Success
#modal-success.modal
	.modal__window.modal-success
		button.modal__close-btn.js-modal-close
		img.modal-success__img(src="images/icons/modal-success.svg", alt="success")
		h2.modal-success__title.h2-t Спасибо!
		p.modal-success__subtitle Ваша заявка успешно отправлена
		p.modal-success__text Наши специалисты свяжутся  с Вами в ближайшее время
