// Modal Discount
#modal-discount.modal
	.modal__window.modal-discount
		button.modal__close-btn.modal__close-btn.js-modal-close
		p.modal-discount__title.h3-t Скидка на имплантацию
		img.modal-discount__img(src="images/modals/discount.jpg", alt)
		.modal-discount__content
			.modal-discount__text-box
				p.modal-discount__text-bold Необиотик
					|
					|
					span.modal-discount__price 25 000 ₽
					|
					|
					span.modal-discount__price-old 31 000 ₽
				p.modal-discount__text-bold Нобель Байокеар
					|
					|
					span.modal-discount__price 39 000 ₽
					|
					|
					span.modal-discount__price-old 47 000 ₽
			p.modal-discount__text Подробные условия акции можно узнать у администраторов клиники по телефону: +7 8352 70 97 91 или в клинике на респепшене
			p.modal-discount__text ООО «Иннова Клиник» оставляет за собой право изменять условия и сроки действия акции. Не является публичной офертой
		button.btn.btn-bg.m-btn.modal-discount__btn(data-modal="appointment") Онлайн запись
