@font-face {
	font-display: swap;
	font-family: "Wix Madefor Display";
	src: local("Wix Madefor Display Regular"),
	local("WixMadeforDisplay-Regular"),
	url("../fonts/WixMadeforDisplay-Regular.ttf") format("ttf"),
	url("../fonts/WixMadeforDisplay-Regular.woff") format("woff"),
	url("../fonts/WixMadeforDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family: "Wix Madefor Display";
	src: local("Wix Madefor Display Medium"),
	local("WixMadeforDisplay-Medium"),
	url("../fonts/WixMadeforDisplay-Medium.ttf") format("ttf"),
	url("../fonts/WixMadeforDisplay-Medium.woff") format("woff"),
	url("../fonts/WixMadeforDisplay-Medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: "Wix Madefor Display";
	src: local("Wix Madefor Display SemiBold"),
	local("WixMadeforDisplay-SemiBold"),
	url("../fonts/WixMadeforDisplay-SemiBold.ttf") format("ttf"),
	url("../fonts/WixMadeforDisplay-SemiBold.woff") format("woff"),
	url("../fonts/WixMadeforDisplay-SemiBold.woff2") format("woff2");
	font-weight: 600;
}

@font-face {
	font-display: swap;
	font-family: "Wix Madefor Display";
	src: local("Wix Madefor Display Bold"),
	local("WixMadeforDisplay-Bold"),
	url("../fonts/WixMadeforDisplay-Bold.ttf") format("ttf"),
	url("../fonts/WixMadeforDisplay-Bold.woff") format("woff"),
	url("../fonts/WixMadeforDisplay-Bold.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-display: swap;
	font-family: "Wix Madefor Display";
	src: local("Wix Madefor Display ExtraBold"),
	local("WixMadeforDisplay-ExtraBold"),
	url("../fonts/WixMadeforDisplay-ExtraBold.ttf") format("ttf");
	font-weight: 800;
}
