body {
	font-family: $font-primary;
}

input, button, textarea {
	font-family: inherit;
}

.title-sup {
	display: inline-block;
	transform: translateY(-20px);
	margin-left: 5px;
	font-size: 20px;
	font-weight: 500;
	color: $color-grey;

	@include desktop {
		transform: none;
	}
}

.h1-t {
	font-size: 44px;
	font-weight: 600;
	line-height: normal;

	@include desktop {
		font-size: 28px;
		line-height: 35px;
		font-weight: 600;
	}
}

.h2-t {
	font-size: 38px;
	font-weight: 600;
	line-height: normal;

	@include desktop {
		font-size: 24px;
		line-height: 30px;
		font-weight: 600;
	}
}

.h3-t {
	font-size: 28px;
	font-weight: 600;
	line-height: normal;
}

.h4-t {
	font-size: 24px;
	font-weight: 600;
	line-height: normal;

	@include tablet-desktop {
		font-size: 16px;
	}
}

.subtitle {
	font-size: 22px;
	font-weight: 500;
	line-height: normal;
}

.b-txt {
	color: #3A3C40;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
}

.b-txt p:not(:last-child) {
	margin: 0 0 24px 0;
}
