include mixins/svg
include mixins/picture

include mixins/header
include mixins/mobile-menu
include mixins/footer

include mixins/breadcrumbs
include mixins/portfolio-card
include mixins/service-head-banner
include mixins/review-sites
include mixins/doctor
include mixins/get-consult
include mixins/service-tags
include mixins/accordion
include mixins/service-price
include mixins/map
include mixins/back-link
include includes/modal/modal-veneers
include mixins/stock-card
include mixins/messengers-fixed
