mixin accordion(data)
	// Accordion
	.accordion&attributes(attributes)
		.accordion__questions
			each info in data
				.accordion__question-field
					.accordion__question-header
						h4.accordion__question-title.h4-t= info.question
						span.accordion__question-arrow
					.accordion__question-answer.b-txt
						.accordion__question-answer-body
							.accordion__question-answer-text= info.answer
							if (info.image)
								.accordion__question-answer-image
									img(src = "./images/services/works/" + info.image, alt = "")

