mixin footer()
	footer.footer
		div(class="footer__body")
			div(class="footer__first-level")
				.container
					div(class="first__level-body")
						div(class="first__level-left")
							div(class="first__level-ask")
								p(class="first__level-ask-title") Остались вопросы?
								p(class="first__level-ask-text") Мы на связи в мессенджерах
							div(class="first__level-socials")
								a.btn-whatsapp.btn-about-universal(href="#", target="_blank")
									span WhatsApp
								a.btn-telegram.btn-about-universal(href="#", target="_blank")
									span Telegram
								a.btn-viber.btn-about-universal(href="#", target="_blank")
									span Viber
						div(class="first__level-right")
							div(class="first__level-right-images")
								img(src="images/footer/1.png", alt)
								img(src="images/footer/2.png", alt)
								img(src="images/footer/3.png", alt)
			div(class="footer__second-level")
				.container
					div(class="second__level-body")
						div(class="second__level-col")
							div(class="second__level-about")
								div(class="second__level-about-logo")
									img(src="images/logo/logo_scroll.svg", alt)
								div(class="second__level-about-contacts")
									a(href="tel:+78352709791", class="second__level-tel") +7 (8352) 70-97-91
									a(href="mailto:innova.clinic@yandex.ru", class="second__level-mail") innova.clinic@yandex.ru
								div(class="second__level-about-addresses")
									p Чебоксары, ул. Радужная, 5
									p Чебоксары, ул. Хмельницкого, 51
								div(class="second__level-about-socials")
									a(href="#", target="_blank")
										img(src="images/icons/ok-link.svg", alt="ok.ru")
									a(href="#", target="_blank")
										img(src="images/icons/vk-link.svg", alt="vk.ru")
									a(href="#", target="_blank")
										img(src="images/icons/dzen-link.svg", alt="dzen.ru")
						div(class="second__level-col")
							div(class="second__level-information")
								div(class="second__level-information-title") Услуги
								div(class="second__level-information-list b-txt")
									ul
										li
											a(href="./consultation.html") Консультация и диагностика
										li
											a(href="./implantation.html") Имплантация
										li
											a(href="#") Протезирование
										li
											a(href="#") Лечение зубов
										li
											a(href="#") Отбеливание
										li
											a(href="#") Ортодонтия
										li
											a(href="#") Профосмотр
										li
											a(href="#") Гигиена
										li
											a(href="#") Детская стоматология
						div(class="second__level-col")
							div(class="second__level-information")
								div(class="second__level-information-title") Пациентам
								div(class="second__level-information-list b-txt")
									ul
										li
											a(href="./doctors.html") Врачи
										li
											a(href="./tax-deduction.html") Налоговый вычет
										li
											a(href="./prices.html") Цены
										li
											a(href="./portfolio.html") Портфолио
										li
											a(href="./reviews.html") Отзывы
										li
											a(href="./stocks.html") Акции
										li
											a(href="./contacts.html") Контакты
			div(class="footer__third-level")
				.container
					div(class="third__level-body")
						div(class="third__level-links")
							div(class="third__level-link")
								a(href="#") Положение об обработке персональных данных.
								span  Не является публичной офертой
							div(class="third__level-link")
								a(href="#") Лицензия ООО «Иннова Клиник», ООО «Иннова Прогресс»
	.container
		button.appointment-consultation-btn(data-modal="consultation")
			| Записаться
			br
			| на консультацию
	include ../includes/modal/index
	.bg
	.modal-bg
	+messengers-fixed()

