mixin map(steps)
	// Map
	section.map
		.container
			h4.map__title-mobile.h4-t
				| Адреса клиник
			.map__info-mobile
				.map__info-about
					.map__info-title-mobile
						| Радужная
					.map__info-slider-body
						.map__info-slider
							.swiper-wrapper.mapGallery
								a(href="./images/map/2x/1.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/1.png", alt="Кабинет 1")
								a(href="./images/map/2x/2.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/2.png", alt="стоматология")
								a(href="./images/map/2x/3.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/3.png", alt="стоматология")
								a(href="./images/map/2x/1.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/4.png", alt="стоматология")
								a(href="./images/map/2x/2.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/5.png", alt="стоматология")
								a(href="./images/map/2x/3.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/6.png", alt="стоматология")
							.map-slider-button-prev
							.map-slider-button-next
					button.map__info-btn-mobile.btn.s-btn(data-place="place1")
						| Показать на карте
					.map__info-place-info.b-txt
						.place-info-row
							.place-info-row-title Адрес:
							.place-info-row-inform Чебоксары, ул. Радужная, 5
						.place-info-row
							.place-info-row-title Телефон:
							.place-info-row-inform
								a(href="tel:+78352285647") +7 (8352) 28-56-47
						.place-info-row
							.place-info-row-title Время работы:
							.place-info-row-inform
								p
									| Пн-пт: 8:00-20:00
									br
									| Сб-вс: 9:00-18:00
					.map__info-footer
						a.map__info-btn.btn.s-btn.btn-bg(href="https://prodoctorov.ru/cheboksary/set/4011-stomatologiya-innova-klinik/", target="blank") Записаться онлайн
				.map__info-about
					.map__info-slider-body
						.map__info-title-mobile
							| Богдана Хмельницкого
						.map__info-slider
							.swiper-wrapper.mapGallery
								a(href="./images/map/2x/1.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/1.png", alt="Кабинет 1")
								a(href="./images/map/2x/2.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/2.png", alt="стоматология")
								a(href="./images/map/2x/3.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/3.png", alt="стоматология")
								a(href="./images/map/2x/1.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/4.png", alt="стоматология")
								a(href="./images/map/2x/2.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/5.png", alt="стоматология")
								a(href="./images/map/2x/3.png").swiper-slide
									.map__info-slide-image
										img(src="./images/map/6.png", alt="стоматология")
							.map-slider-button-prev
							.map-slider-button-next
					button.map__info-btn-mobile.btn.s-btn(data-place="place2")
						| Показать на карте
					.map__info-place-info.b-txt
						.place-info-row
							.place-info-row-title Адрес:
							.place-info-row-inform Чебоксары, ул. Богдана Хмельницкого, 51
						.place-info-row
							.place-info-row-title Телефон:
							.place-info-row-inform
								a(href="tel:+78352709791") +7 (8352) 70-97-91
						.place-info-row
							.place-info-row-title Время работы:
							.place-info-row-inform
								p
									| Пн-пт: 8:00-20:00
									br
									| Сб-вс: 9:00-18:00
					.map__info-footer
						a.map__info-btn.btn.s-btn.btn-bg(href="https://prodoctorov.ru/cheboksary/set/4011-stomatologiya-innova-klinik/", target="blank") Записаться онлайн
			.map__info
				.map__info-inner
					.map__info-title Адреса клиник
					.map__info-buttons
						button.map__info-placebtn.active(data-place="place1") Радужная
						button.map__info-placebtn(data-place="place2") Богдана Хмельницкого
					.map__info-content
						.map__info-about.show
							.map__info-slider-body
								.map__info-slider
									.swiper-wrapper.mapGallery
										a(href="./images/map/2x/1.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/1.png", alt="Кабинет 1")
										a(href="./images/map/2x/2.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/2.png", alt="стоматология")
										a(href="./images/map/2x/3.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/3.png", alt="стоматология")
										a(href="./images/map/2x/1.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/4.png", alt="стоматология")
										a(href="./images/map/2x/2.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/5.png", alt="стоматология")
										a(href="./images/map/2x/3.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/6.png", alt="стоматология")
									.map-slider-button-prev
									.map-slider-button-next
							.map__info-place-info.b-txt
								.place-info-row
									.place-info-row-title Адрес:
									.place-info-row-inform Чебоксары, ул. Радужная, 5
								.place-info-row
									.place-info-row-title Телефон:
									.place-info-row-inform
										a(href="tel:+78352285647") +7 (8352) 28-56-47
								.place-info-row
									.place-info-row-title Время работы:
									.place-info-row-inform
										p
											| Пн-пт: 8:00-20:00
											br
											| Сб-вс: 9:00-18:00
						.map__info-about
							.map__info-slider-body
								.map__info-slider
									.swiper-wrapper.mapGallery
										a(href="./images/map/2x/1.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/1.png", alt="Кабинет 1")
										a(href="./images/map/2x/2.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/2.png", alt="стоматология")
										a(href="./images/map/2x/3.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/3.png", alt="стоматология")
										a(href="./images/map/2x/1.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/4.png", alt="стоматология")
										a(href="./images/map/2x/2.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/5.png", alt="стоматология")
										a(href="./images/map/2x/3.png").swiper-slide
											.map__info-slide-image
												img(src="./images/map/6.png", alt="стоматология")
									.map-slider-button-prev
									.map-slider-button-next
							.map__info-place-info.b-txt
								.place-info-row
									.place-info-row-title Адрес:
									.place-info-row-inform Чебоксары, ул. Богдана Хмельницкого, 51
								.place-info-row
									.place-info-row-title Телефон:
									.place-info-row-inform
										a(href="tel:+78352709791") +7 (8352) 70-97-91
								.place-info-row
									.place-info-row-title Время работы:
									.place-info-row-inform
										p
											| Пн-пт: 8:00-20:00
											br
											| Сб-вс: 9:00-18:00
					.map__info-footer
						a.map__info-btn.btn.s-btn.btn-bg(href="https://prodoctorov.ru/cheboksary/set/4011-stomatologiya-innova-klinik/", target="blank") Записаться онлайн
		#mapInner.map-inner
			button.close-map

