mixin messengers-fixed()
	.messengers-fixed
		.messengers-fixed__items
			.messengers-fixed__item
				a(href='#')
					img(src='./images/icons/whatsapp.svg', alt='whatsapp')
			.messengers-fixed__item
				a(href='#')
					img(src='./images/icons/telegram.svg', alt='telegram')
			.messengers-fixed__item
				a(href='#')
					img(src='./images/icons/viber.svg', alt='viber')
			.messengers-fixed__item
				a(href='#')
					img(src='./images/icons/viber.svg', alt='viber')
