mixin mobile-menu()
	.mobile-menu
		.mobile-menu__panel.mobile-menu__panel--top
			.mobile-menu-services
				.mobile-menu-services__body
					.mobile-menu-services__back
						button.mobile-menu-services__back-button Услуги
					.mobile-menu-services__items
						a.mobile-menu-services__item.cyan-color(href='./consultation.html')
							p.mobile-menu-services__link Консультация и диагностика
							img(src='./images/services/1.png')
						a.mobile-menu-services__item.yellow-color(href='./implantation.html')
							p.mobile-menu-services__link Имплантация
							img(src='./images/services/2.png')
						a.mobile-menu-services__item.light-green-color(href='./veneers.html')
							p.mobile-menu-services__link Виниры
							img(src='./images/services/3.png')
						a.mobile-menu-services__item.lavender-color(href='#')
							p.mobile-menu-services__link Коронки
							img(src='./images/services/4.png')
						a.mobile-menu-services__item.purple-color(href='#')
							p.mobile-menu-services__link Установка брекетов
							img(src='./images/services/5.png')
						a.mobile-menu-services__item.light-lilac-color(href='#')
							p.mobile-menu-services__link Установка элайнеров
							img.reverse-img(src='./images/services/6.png')
						a.mobile-menu-services__item.yellow-color(href='#')
							p.mobile-menu-services__link Лечение зубов
							img(src='./images/services/7.png')
						a.mobile-menu-services__item.cyan-color(href='#')
							p.mobile-menu-services__link Профессиональная гигиена
							img(src='./images/services/8.png')
						a.mobile-menu-services__item.light-green-color(href='#')
							p.mobile-menu-services__link Профессиональное отбеливание
							img(src='./images/services/9.png')
						a.mobile-menu-services__item.purple-color(href='#')
							p.mobile-menu-services__link Профосмотр
							img(src='./images/services/10.png')
						a.mobile-menu-services__item.light-cyan-color(href='#')
							p.mobile-menu-services__link Детская стоматология
							img(src='./images/services/11.png')
					.mobile-menu__panel.mobile-menu__panel--bottom
						.mobile-menu__panel-top
							a.mobile-menu__phone-link(href="tel:+78352709791") +7 (8352) 70-97-91
							.mobile-menu__social-group
								a.mobile-menu__social.mobile-menu__social--whatsapp(href="#")
								a.mobile-menu__social.mobile-menu__social--viber(href="#")
								a.mobile-menu__social.mobile-menu__social--telegram(href="#")
						a.btn.btn-bg.s-btn.mobile-menu__button(href="#") Онлайн запись
			ul.mobile-menu__menu
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link.mobile-services-button Услуги
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link(href="./doctors.html") Врачи
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link(href="./stocks.html") Акции
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link(href="./prices.html") Цены
				li.mobile-menu__nav-elem
					.mobile-menu__nav-link-wrap
						a.mobile-menu__nav-link(href="./consultation.html") Пациентам
						button.mobile-menu__nav-link-arrow
					ul.mobile-menu__sub-menu
						li.mobile-menu__nav-sub-elem
							a.mobile-menu__nav-sub-link(href='./portfolio.html') Примеры работ
						li.mobile-menu__nav-sub-elem
							a.mobile-menu__nav-sub-link(href='./reviews.html') Отзывы
						li.mobile-menu__nav-sub-elem
							a.mobile-menu__nav-sub-link(href='./tax-deduction.html') Налоговый вычет
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link(href="./contacts.html") Адреса клиник
				li.mobile-menu__nav-elem
					a.mobile-menu__nav-link.mobile-menu__nav-link-search Поиск по сайту
		.mobile-menu__panel.mobile-menu__panel--bottom
			.mobile-menu__panel-top
				a.mobile-menu__phone-link(href="tel:+78352709791") +7 (8352) 70-97-91
				.mobile-menu__social-group
					a.mobile-menu__social.mobile-menu__social--whatsapp(href="#")
					a.mobile-menu__social.mobile-menu__social--viber(href="#")
					a.mobile-menu__social.mobile-menu__social--telegram(href="#")
			a.btn.btn-bg.s-btn.mobile-menu__button(href="#") Онлайн запись
		.mobile-menu__panel.mobile-menu__panel--search.mobile-menu-search
			.mobile-menu-search__body.container
				.mobile-menu-search__header
					.mobile-menu-search__input
						input(placeholder='Что будем искать')
						button.mobile-menu-search__input--clean
					button.mobile-menu-search__cancel Отмена
				.mobile-menu-search__answer
					.mobile-menu-search__answer--body
						.mobile-menu-search__answer-notfound По вашему запросу "
							span
							| " ничего <br> нe найдено
						.nav__search-answer
							.answer__body
								.answer__category
									.answer__category-title
										h4.h4-t Услуги
									.answer__category-items.services-items
										a.services-item(href='./consultation.html')
											p Консультация и диагностика
											img(src='./images/search/tooth.png', alt='')
										a.services-item(href='./implantation.html')
											p Имплантация
											img(src='./images/search/tooth.png', alt='')
										a.services-item(href='./veneers.html')
											p Виниры
											img(src='./images/search/tooth.png', alt='')
									a.answer__category-showall.line-link-dark(href='./services.html') Смотреть все
								.answer__category
									.answer__category-title
										h4.h4-t Врачи
									.answer__category-items.doctors-items
										a.doctor-item(href='./doctor.html')
											img(src='./images/search/doctors/1.jpg', alt='')
											.doctor-item-about.b-txt
												p Никитин Никита Юрьевич
												span Стоматолог, стоматолог ортопед
										a.doctor-item(href='./doctor.html')
											img(src='./images/search/doctors/2.jpg', alt='')
											.doctor-item-about.b-txt
												p Андреев Димитрий Петрович
												span Стоматолог, стоматолог ортопед
										a.doctor-item(href='./doctor.html')
											img(src='./images/search/doctors/3.jpg', alt='')
											.doctor-item-about.b-txt
												p Гордеева Людмила Валерьевна
												span Стоматолог ортопед
										a.doctor-item(href='./doctor.html')
											img(src='./images/search/doctors/4.jpg', alt='')
											.doctor-item-about.b-txt
												p Гордеева Людмила Валерьевна
												span Стоматолог ортопед
									a.answer__category-showall.line-link-dark(href='./doctors.html') Смотреть все
								.answer__category
									.answer__category-title
										h4.h4-t Работы
									.answer__category-items.portfolio-items
										a.portfolio-item(href='./portfolio.html')
											.portfolio-item-about.b-txt
												p Восстановили зуб после травмы
												span Лечение травмы зубов
										a.portfolio-item(href='./portfolio.html')
											.portfolio-item-about.b-txt
												p Тотальная реставрация улыбки
												span Лечение зубов
										a.portfolio-item(href='./portfolio.html')
											.portfolio-item-about.b-txt
												p Помогли пациентке побороть страх перед стоматологами и подарили улыбку мечты
												span Антистресс-лечение
										a.portfolio-item(href='./portfolio.html')
											.portfolio-item-about.b-txt
												p Сложная пластика десны, протезирование на имплантатах
												span Пародонтология
										a.portfolio-item(href='./portfolio.html')
											.portfolio-item-about.b-txt
												p Пластика рецессии десны
												span Пародонтология
									a.answer__category-showall.line-link-dark(href='./portfolio.html') Смотреть все
