mixin portfolio-card(image, category, title, time)
	.portfolio-card
		.portfolio-card__slider-box
			img-comparison-slider.comparison-slider.portfolio-card__slider
				.portfolio-card__photo(slot="first")
					img.portfolio-card__img( src="./images/portfolio/" + image + "-before.jpg", alt="До")
					img.portfolio-card__img-bg( src="./images/portfolio/" + image + "-before.jpg", alt="До фон")
				.portfolio-card__photo(slot="second")
					img.portfolio-card__img( src="./images/portfolio/"+image+"-after.jpg", alt="После")
					img.portfolio-card__img-bg( src="./images/portfolio/"+image+"-after.jpg", alt="После фон")
				.comparison-slider__handle(slot="handle")
		a.portfolio-card__info(href="./case.html")
			p.portfolio-card__category= category
			h3.portfolio-card__title !{title}
			p.portfolio-card__worktime.b-txt Длительность лечения:
				|
				|
				span.portfolio-card__worktime-value= time
