mixin review-sites()
	section.review-sites&attributes(attributes)
		.review-sites__grid
			a(href="#", target="_blank").review-sites__grid-item
				img.review-sites__grid-item-logo(src = "./images/feedback/rating/ya.svg", alt= 'yandex')
				.review-sites__grid-item-rating
					img.review-sites__grid-item-rating-stars(src="images/feedback/rating/stars.svg", alt= 'stars')
					p.review-sites__grid-item-rating-value 4,8
						span из 5
			a(href="#", target="_blank").review-sites__grid-item
				img.review-sites__grid-item-logo(src = "./images/feedback/rating/google.svg", alt= 'google')
				.review-sites__grid-item-rating
					img.review-sites__grid-item-rating-stars(src="images/feedback/rating/stars.svg", alt= 'stars')
					p.review-sites__grid-item-rating-value 4,8
						span из 5
			a(href="#", target="_blank").review-sites__grid-item
				img.review-sites__grid-item-logo(src = "./images/feedback/rating/prodoctorov.svg", alt= 'prodoctorov')
				.review-sites__grid-item-rating
					img.review-sites__grid-item-rating-stars(src="images/feedback/rating/stars.svg", alt= 'stars')
					p.review-sites__grid-item-rating-value 4,8
						span из 5
			a(href="#", target="_blank").review-sites__grid-item
				img.review-sites__grid-item-logo(src = "./images/feedback/rating/2gis.svg", alt= '2gis')
				.review-sites__grid-item-rating
					img.review-sites__grid-item-rating-stars(src="images/feedback/rating/stars.svg", alt= 'stars')
					p.review-sites__grid-item-rating-value 4,8
						span из 5
