mixin service-head-banner(image, title, list)
	section.service-head-banner&attributes(attributes)
		.service-head-banner__inner
			.service-head-banner__about.container
				h1.service-head-banner__title.h1-t= title
				if (list)
					ul.service-head-banner__list
						each item in list
							li.service-head-banner__item= item
				.service-head-banner__buttons
					button.btn.btn-bg.l-btn(data-modal="appointment") Записаться на прием
					a.service-head-banner__price-btn.btn.l-btn(href="/prices.html") Перейти к ценам
				a.service-head-banner__mobile-link.line-link(href="/prices.html") Перейти к ценам
			img.service-head-banner__image(src="./images/services/pages/" + image + '.png', alt="")

