//- USAGE
//- +breadcrumbs(['Main page', 'News'], 'News detail')
//- +breadcrumbs(['Main page'])

mixin service-tags(title, tags)
	// Service tags
	.service-tags&attributes(attributes)
		.service-tags__title= title
		.service-tags__list
			each tag in tags
				.service-tags__tag
					p= tag
