.container {
	position: relative;
	width: 100%;
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;

	&--mobile-white {
		@include desktop {
			margin-bottom: 8px;
			background-color: $color-white;
			border-radius: 16px;
		}
	}
}
