.page-prices {

	padding: 80px 0 140px;
	border-radius: 40px;
	background: #F5F5F5;
	margin: -70px 40px 160px;

	@include desktop-extra-large() {
		margin: -70px 0 160px;
	}
	@include desktop() {
		background: none;
	}
	@include tablet-desktop() {
		margin: -70px 0 0 0;
	}


	&__body {
		@include tablet-desktop() {

		}
	}

	&__title {
		margin: 0 0 60px 0;

		@include tablet-desktop() {
			margin: 0 0 40px 0;
		}
	}

	&__items {
		@include tablet-desktop() {
			width: 100vw;
			margin-left: 50%;
			transform: translateX(-50%);
			background-color: #F5F5F5;
		}

	}

	&__item {
		margin: 0 auto;
		max-width: 950px;

		@include desktop-extra-large() {
			background: none;
			border-radius: 16px;
		}
		@include tablet-desktop() {

		}

		&:not(:last-child) {
			margin: 0 auto 10px auto;
		}

		.service-price__body {

			@include tablet-desktop() {
				padding: 0;
			}
		}

		.service-price__info {
			max-width: none;

			&:first-child {
				@include tablet-desktop() {
					border-radius: 0 0 16px 16px;
				}
			}
		}



	}


}


