.modal-contacts {
	max-width: 560px;
	padding: 50px 48px;

	@include mobile() {
		padding: 16px 15px;
	}

	&__title {
		margin-bottom: 14px;
		text-align: center;

		@include mobile() {
			font-size: 20px;
			line-height: 1.2;
			text-align: left;
			margin-bottom: 12px;
		}
	}

	&__text {
		margin: 0 auto 22px;
		font-size: 17px;
		line-height: 1.4;
		max-width: 341px;
		text-align: center;

		@include mobile() {
			font-size: 16px;
			text-align: left;
			margin: 0 0 10px;
		}
	}

	&__form {
		margin-bottom: 24px;

		@include mobile() {
			margin-bottom: 16px;
		}
	}

	&__form-group {
		margin-bottom: 3px;

		&--hidden {
			display: none;
		}
	}

	&__btn {
		width: 100%;
		margin-top: 40px;

		@include mobile() {
			margin-top: 32px;
		}
	}

	&__agreement {
		max-width: 390px;
		font-size: 13px;
		color: #7A7E84;
	}

	&__agreement-link {
		color: #3A3C40;
		text-decoration-line: underline;
	}
}
.modal-contacts-body {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border-radius: 16px 16px;
	padding: 0;
	//background: #F5F5F5;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.10);

	@include mobile() {
		border-radius: 16px 16px 0 0;
	}

	.modal-contacts-top {
		//background-color: #fff;
		border-radius: 16px;
		padding: 50px 48px;

		@include mobile() {
			padding: 18px 16px 24px 16px;
		}
	}
	.modal-contacts-footer {
		display: none;
		border-radius: 16px 16px 0 0;
		background-color: #fff;
		padding: 18px 16px 24px 16px;

		.mobile-menu__panel-top {
			margin: 0 0 16px 0;
		}

		@include mobile() {
			display: block;
		}
	}
}
