.modal-feedback {
	max-width: 790px;
	//width: 100%;
	padding: 50px 50px 58px;

	&__title {
		margin-bottom: 14px;
	}

	&__text {
		margin-bottom: 40px;
	}

	&__list {
		display: inline-flex;
		justify-content: center;
		width: 100%;
		//grid-template: auto / repeat(3,1fr);
		grid-gap: 30px;

		@include mobile() {
			display: grid;
			grid-template: auto / repeat(2, 100px);
		}

	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-color: #F5F5F5;

		@include mobile() {
			width: 100px;
			height: 100px;
		}
	}

	&__logo {
		max-width: 100%;
		transition: transform $transition-default;

		.modal-feedback__link:hover & {
			transform: scale(1.05);
		}

		@include mobile() {
			max-width: 50px;
			//height: 70px;
		}
	}
}
