extends pug/base

append vars
	- title = "404"

block content
	// Section Not-found
	section.section-not-found.container
		h1.h1-t.section-not-found__title Страница не найдена
		p.section-not-found__text Возможно страница была удалена или вы воспользовались недействительной ссылкой.
		a.btn.btn-bg.l-btn.section-not-found__link(href="./main.html") Вернуться на главную
	.services-page
		.container
			h1.services__page-title.h2-t Услуги
			.services__types
				.service__type.cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Консультация и диагностика
							.service__type-about.b-txt.b-txt
								| Составление плана лечения на основании методов диагностики, проведенных на консультации
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./consultation.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 500
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/1.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.yellow-color
					.service__type-inner
						.service__type-body
							.service__type-name Имплантация
							.service__type-about.b-txt
								| Все виды имплантации и сопутствующие операции
								| по костной пластике
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./implantation.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 26&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/2.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-green-color
					.service__type-inner
						.service__type-body
							.service__type-name Виниры
							.service__type-about.b-txt
								| Позволяет исправить внешний вид зубов без хирургического вмешательства
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./veneers.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 45&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/3.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.lavender-color
					.service__type-inner
						.service__type-body
							.service__type-name Коронки
							.service__type-about.b-txt
								| Коронка поможет спасти зуб и восстановить эстетический вид
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 10&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/4.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.purple-color
					.service__type-inner
						.service__type-body
							.service__type-name Установка брекетов
							.service__type-about.b-txt
								| Коррекция положения зубов при нарушениях прикуса и неровности зубного ряда
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 30&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/5.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-lilac-color
					.service__type-inner
						.service__type-body
							.service__type-name Установка элайнеров
							.service__type-about.b-txt
								| Съемные прозрачные насадки,
								| которые используют для коррекции прикуса.
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 4&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/6.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.yellow-color
					.service__type-inner
						.service__type-body
							.service__type-name Лечение зубов
							.service__type-about.b-txt
								| Все виды лечения при болях
								| и повреждениях зубов
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/7.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Профессиональная гигиена
							.service__type-about.b-txt
								| Осветление эмали и устранение визуальных деффектов (полосы, пятна)
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 1&nbsp;500
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/8.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-green-color
					.service__type-inner
						.service__type-body
							.service__type-name Профессиональное отбеливание
							.service__type-about.b-txt
								| Безболезненно и безопасно для эмали и мягких тканей
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/9.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.purple-color
					.service__type-inner
						.service__type-body
							.service__type-name Компьютерная томография зубов
							.service__type-about.b-txt
								| Краткое описание про компьютерную томографию в 2 строки
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/10.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Детская стоматология
							.service__type-about.b-txt
								| В лечении используем безопасный аналог анестезии. Без страха и слез
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="images/services/11.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
