extends pug/base

append vars
	- title = "Консультация и диагностика"
	- breadcrumbs = {pagesBefore:['Главная', 'Услуги'], pagesCurrent:'Первичная консультация врача-стоматолога'}

block content
	// Section Service Consultation
	section.service-consultation
		+service-head-banner('consultation', 'Первичная консультация врача-стоматолога')
		.container
			+review-sites()
		.container
			section.service__about
				h2 Цель любого обследования – это постановка правильного диагноза, ведь на его основании назначается лечение. <br> А чтобы грамотно назначить лечение, нужно провести необходимую диагностику.
		.container
			section.service__tags
			-
				var tags = ['Осмотр', 'Фотопротокол', 'Рентгеновские снимки', 'Обследование на скрытый кариес', 'Финансовый план']
			+service-tags('Что вы получите после диагностики', tags)
		section.service__accordion
			.service__accordion-inner
				.container
					-
						var steps = [
							{
								question: 'Осмотр',
								answer: 'Первая консультация всегда начинается со знакомства и налаживания контакта пациента и доктора, только после этого приступают к осмотру. Для дополнительной рентген-диагностики надевается защитный нагрудник. С разрешения родителя и ребенка делаются снимки с минимальным облучением. Доктор тщательно изучает снимок для выявления скрытого кариеса. Результаты диагностики и дальнейшую стратегию лечения подробно объясняют родителям. После того как родители и доктор понимают, что маленький пациент готов-доктор приступает к лечению.',
								image: 'work.png'
							},
							{
								question: 'Исследования',
								answer: 'Первая консультация всегда начинается со знакомства и налаживания контакта пациента и доктора, только после этого приступают к осмотру. Для дополнительной рентген-диагностики надевается защитный нагрудник. С разрешения родителя и ребенка делаются снимки с минимальным облучением. Доктор тщательно изучает снимок для выявления скрытого кариеса. Результаты диагностики и дальнейшую стратегию лечения подробно объясняют родителям. После того как родители и доктор понимают, что маленький пациент готов-доктор приступает к лечению.',
								image: ''
							},
							{
								question: 'Обследование в клинике',
								answer: 'Первая консультация всегда начинается со знакомства и налаживания контакта пациента и доктора, только после этого приступают к осмотру. Для дополнительной рентген-диагностики надевается защитный нагрудник. С разрешения родителя и ребенка делаются снимки с минимальным облучением. Доктор тщательно изучает снимок для выявления скрытого кариеса. Результаты диагностики и дальнейшую стратегию лечения подробно объясняют родителям. После того как родители и доктор понимают, что маленький пациент готов-доктор приступает к лечению.',
								image: 'work.png'
							},
							{
								question: 'Консультация',
								answer: 'Первая консультация всегда начинается со знакомства и налаживания контакта пациента и доктора, только после этого приступают к осмотру. Для дополнительной рентген-диагностики надевается защитный нагрудник. С разрешения родителя и ребенка делаются снимки с минимальным облучением. Доктор тщательно изучает снимок для выявления скрытого кариеса. Результаты диагностики и дальнейшую стратегию лечения подробно объясняют родителям. После того как родители и доктор понимают, что маленький пациент готов-доктор приступает к лечению.',
								image: 'work.png'
							},
							{
								question: 'Составление плана лечения',
								answer: 'Первая консультация всегда начинается со знакомства и налаживания контакта пациента и доктора, только после этого приступают к осмотру. Для дополнительной рентген-диагностики надевается защитный нагрудник. С разрешения родителя и ребенка делаются снимки с минимальным облучением. Доктор тщательно изучает снимок для выявления скрытого кариеса. Результаты диагностики и дальнейшую стратегию лечения подробно объясняют родителям. После того как родители и доктор понимают, что маленький пациент готов-доктор приступает к лечению.',
								image: ''
							},
						]
					h2.service__accordion-title.h2-t Этапы диагностики в Иннова Клиник
					+accordion(steps)
		.container
			+get-consult()(class="get-consult--page-doctors")
		section.service__price
			.service__price-inner
				-
					var priceData = [
						{
							name: 'Консультация',
							price: '700',
							about: 'Изучения анкеты здоровья, сбор сведений о состояния здоровья. Макрофотографии и сканирование зубов для детального изучения и ознакомления пациента с ситуацией в полости рта. Составление предварительного плана лечения',
						},
					]
				+ service-price('Стоимость консультации врача-стоматолога', 'Первичная консультация врача-стоматолога', '', priceData)
		section.doctors
			.container
				.doctors__header
					h2.doctors__title.h2-t
						| C вами будут заниматься
						br
						| узкопрофильные специалисты
				.doctors__slider.universal-slider
					.swiper-wrapper
						-
							var staff = [
								{
									photo: '1.jpg',
									name: 'Винокур Анастасия <br>Александровна',
									experience: '19 лет стажа',
									awards: [
										'2 награды',
										'15 сертификатов',
									],
									specialization: 'Стоматолог, стоматолог-ортопед',
								},
								{
									photo: '2.jpg',
									name: 'Федотов Руслан <br>Валерьевич',
									experience: '11 лет стажа',
									awards: [
										'3 награды',
									],
									specialization: 'Стоматолог-хирург, стоматолог-имплантолог',
								},
								{
									photo: '3.jpg',
									name: 'Андреев Димитрий <br>Петрович',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Стоматолог-ортопед',
								},
								{
									photo: '5.jpg',
									name: 'Никитин Никита <br>Юрьевич',
									experience: '19 лет стажа',
									awards: [
										'2 награды',
										'15 сертификатов',
									],
									specialization: 'Стоматолог, стоматолог-ортопед',
								},
								{
									photo: '6.jpg',
									name: 'Гордеева Людмила <br>Валерьевна',
									experience: '11 лет стажа',
									awards: [
										'3 награды',
									],
									specialization: 'Стоматолог - терапевт',
								},
								{
									photo: '4.jpg',
									name: 'Романова Анастасия <br>Александровна',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Врач-Стоматолог-Хирург',
								},
								{
									photo: '7.jpg',
									name: 'Пласкин Алексей <br>Александрович',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Стоматолог-хирург',
								},
								{
									photo: '8.jpg',
									name: 'Белякова Татьяна <br>Юрьевна',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Гигиенист стоматологический',
								},
								{
									photo: '9.jpg',
									name: 'Александрова Екатерина <br>Владиславна',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Стоматолог-хирург, стоматолог-имплантолог',
								},
								{
									photo: '10.jpg',
									name: 'Николаева Инга <br>Васильевна',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Стоматолог общей практики',
								},
								{
									photo: '11.jpg',
									name: 'Сергеева Анастасия <br>Сергеевна',
									experience: '9 лет стажа',
									awards: [
										'1 награда',
									],
									specialization: 'Стоматолог-ортопед',
								},
								{
									photo: '12.jpg',
									name: 'Гордеева Людмила <br>Валерьевна',
									experience: '11 лет стажа',
									awards: [
										'3 награды',
									],
									specialization: 'Стоматолог-терапевт',
								},
							]
						for doctor in staff
							// Slide
							.swiper-slide
								.doctor__slide
									+ doctor(doctor.photo, doctor.name, doctor.experience, doctor.awards, doctor.specialization)
					.slider__footer
						.slider__footer-pagination
							.swiper-pagination
						.slider__arrows.black-arrows
							.swiper-button-prev
							.swiper-button-next
		+map()
		section.bottom-accordion
			.container
				-
					var data = [
						{
							question: 'Есть ли рассрочка?',
							answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
							image: ''
						},
						{
							question: 'Есть ли детский прием?',
							answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
							image: ''
						},
						{
							question: 'Нужно ли менять пломбы при отбеливании?',
							answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
							image: ''
						},
						{
							question: 'Есть ли лечение под микроскопом?',
							answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
							image: ''
						}
					]
				.bottom-accordion__body
					h2.qa__title.h2-t Ответы на часто задаваемые вопросы
					+accordion(data)

block scripts-start
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_Ru&apikey=d946dd14-2fe7-4617-a2f4-de241cb948e3")
