extends pug/base

append vars
	- title = "Адреса клиник"
	- breadcrumbs = {pagesBefore:['Главная'], pagesCurrent:'Адреса клиник'}

block content
	// Section Service Veneers
	section.page-contacts
		.container
			h1.page-contacts__title.h1-t Адреса клиник
		+map()


block scripts-start
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_Ru&apikey=d946dd14-2fe7-4617-a2f4-de241cb948e3")
