html
	head
		title Список страниц
		meta(charset='utf-8')
		style.
			body {
				display: flex;
				min-height: 100vh;
				font-size: 30px;
			}
			.content {
				margin: auto;
			}
			a {
				text-decoration: none;
				color: inherit;
			}
	body
		.content
			h2 Список страниц
			ul
				li
					a(href="main.html", target="_blank") Главная
				li
					a(href="services.html", target="_blank") Услуги
				li
					a(href="portfolio.html", target="_blank") Примеры работ
				li
					a(href="doctors.html", target="_blank") Врачи
				li
					a(href="doctor.html", target="_blank") Врач
				li
					a(href="consultation.html", target="_blank") Консультация и диагностика
				li
					a(href="implantation.html", target="_blank") Имплантация
				li
					a(href="veneers.html", target="_blank") Виниры
				li
					a(href="prices.html", target="_blank") Цены
				li
					a(href="contacts.html", target="_blank") Контакты
				li
					a(href="reviews.html", target="_blank") Отзывы
				li
					a(href="stocks.html", target="_blank") Акции
				li
					a(href="case.html", target="_blank") Страница работы
				li
					a(href="tax-deduction.html", target="_blank") Налоговый вычет
				li
					a(href="404.html", target="_blank") 404
