extends pug/base

prepend vars
	//-

append vars
	- title = "Главная"

block content
	// Section Main
	section.section__main
		.container
			.section__main-body
				.section__main-text
					h1.main__title
						| Стоматология
						br
						| Доктора Винокур
					.main-text.
						Безболезненное и высококачественное решение самых сложных задач в области стоматологии
				.section__main-images
					.section__main-tile
						.section__main-tile-image
							//img(src='./images/main/img2.png', alt)
							.section__main-tile-image-video
								video.lazy(muted=true, autoplay=true, poster="./images/main/img2.png", loop, playsinline)
									source(data-src="./images/main/first.mp4", type="video/mp4")
									source(data-src="./images/main/first.webm", type="video/webm")
						.section__main-tile-image
							img(src='./images/main/img-round2.png', alt)
						.section__main-tile-image
							img(src='./images/main/img1.png', alt)
						.section__main-tile-image
							img(src='./images/main/img-round1.png', alt)
						.section__main-tile-image
							img(src='./images/main/img3.png', alt)
			button.get-consultation(data-modal='consultation')
		.container
			button.btn.btn-bg.s-btn.section__main-consultation-btn(data-modal='consultation')
				| Получить консультацию
	// Section Submain
	section.submain
		.container
			.submain-body
				.submain-comment Пациенты доверяют нам самое ценное — свое здоровье. Мы дорожим каждым клиентом и оправдываем его ожидания.
				.submain__author
					.submain__author-image
						img(src='./images/submain/author.png', alt='author')
					.submain__author-about
						.submain__author-name Винокур Анастасия Александровна
						.submain__author-position Ведущий стоматолог, руководитель клиники, двукратный чемпион России по стоматологии


	// Section Services
	section.services
		.container
			.services__title Оказываем широкий перечень услуг по лечению и протезированию зубов
			.services__types
				.service__type.cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Консультация и диагностика
							.service__type-about.b-txt
								| Составление плана лечения на основании методов диагностики, проведенных на консультации
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./consultation.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 500
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/1.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.yellow-color
					.service__type-inner
						.service__type-body
							.service__type-name Имплантация
							.service__type-about.b-txt
								| Все виды имплантации и сопутствующие операции
								| по костной пластике
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./implantation.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 26&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/2.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-green-color
					.service__type-inner
						.service__type-body
							.service__type-name Виниры
							.service__type-about.b-txt
								| Позволяет исправить внешний вид зубов без хирургического вмешательства
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="./veneers.html")
										span Подробнее
								.service__type-price От&nbsp;
									span 45&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/3.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.lavender-color
					.service__type-inner
						.service__type-body
							.service__type-name Коронки
							.service__type-about.b-txt
								| Коронка поможет спасти зуб и восстановить эстетический вид
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 10&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/4.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.purple-color
					.service__type-inner
						.service__type-body
							.service__type-name Установка брекетов
							.service__type-about.b-txt
								| Коррекция положения зубов при нарушениях прикуса и неровности зубного ряда
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 30&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/5.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-lilac-color
					.service__type-inner
						.service__type-body
							.service__type-name Установка элайнеров
							.service__type-about.b-txt
								| Съемные прозрачные насадки,
								| которые используют для коррекции прикуса.
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 4&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/6.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.yellow-color
					.service__type-inner
						.service__type-body
							.service__type-name Лечение зубов
							.service__type-about.b-txt
								| Все виды лечения при болях
								| и повреждениях зубов
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/7.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Профессиональная гигиена
							.service__type-about.b-txt
								| Осветление эмали и устранение визуальных деффектов (полосы, пятна)
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 1&nbsp;500
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/8.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-green-color
					.service__type-inner
						.service__type-body
							.service__type-name Профессиональное отбеливание
							.service__type-about.b-txt
								| Безболезненно и безопасно для эмали и мягких тканей
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/9.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.purple-color
					.service__type-inner
						.service__type-body
							.service__type-name Компьютерная томография зубов
							.service__type-about.b-txt
								| Краткое описание про компьютерную томографию в 2 строки
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/10.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
				.service__type.light-cyan-color
					.service__type-inner
						.service__type-body
							.service__type-name Детская стоматология
							.service__type-about.b-txt
								| В лечении используем безопасный аналог анестезии. Без страха и слез
							.service__type-bottom
								.service__type-link
									a.btn-about.btn-about-universal(href="#")
										span Подробнее
								.service__type-price От&nbsp;
									span 2&nbsp;000
									| &nbsp;₽
						.service__type-bg
							img(src="./images/services/11.png", alt)
					.service__type-top
						span.service__type-what Основная услуга
						span.service__type-sale Акция
			a.services_btn.btn.btn-bg.l-btn(href='./services.html') Перейти ко всем услугам

	// Stock slider
	include pug/includes/stock-slider
	// Section Banner Plan
	section.banner__plan
		.container
			.banner__plan-body
				.banner__plan-left
					.banner__plan-info
						h2.banner__plan-title.h2-t Составим поэтапный план восстановления зубов
						p.banner__plan-text Вы узнаете, в каком состоянии находятся ваши зубы и каких врачей нужно посетить. После консультации подберем вариант лечения под ваш бюджет
						.banner__plan-btn
							button.btn-get-plan.btn.btn-none-bg.m-btn(data-modal='plan') Получить план лечения
				.banner__plan-right
					.banner__plan-img
						.banner__plan-img-video
							//img(src='./images/banner-plan/banner-photo.png', alt)
							video.lazy.banner__plan-video(muted=false, autoplay=false, loop)
								source(data-src="./images/main/second.mp4", type="video/mp4")
								source(data-src="./images/main/second.webm", type="video/webm")
						.banner__plan-note
							.banner__plan-play
							span Консультация и план лечения зубов
	// Section Doctors
	include pug/includes/doctors-slider
	// Section Feedback
	section.feedback
		.container
			.feedback__body
				.feedback__header
					h2.feedback__title.h2-t Отзывы о клинике
					a.feedback__show-all.line-link-dark(href='./reviews.html') Все отзывы
				.feedback__mobile
					.feedback__mobile-body
						.feedback__slide
							.feedback__slide-inner
								.feedback__slide-name.b-txt Виктор
								.feedback__slide-rating
									.feedback__slide-rating-stars
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star-disabled.svg', alt='rating')
									.feedback__slide-rating-date
										| 2 марта 2013
										span.rating-date-separator ·
										|  Яндекс
								.feedback__slide-text.b-txt
									p Идеальная клиника. в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
						.feedback__slide
							.feedback__slide-inner
								.feedback__slide-name.b-txt Виктор В.
								.feedback__slide-rating
									.feedback__slide-rating-stars
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star-disabled.svg', alt='rating')
										img(src='./images/icons/star-disabled.svg', alt='rating')
									.feedback__slide-rating-date
										| 2 марта 2013
										span.rating-date-separator ·
										|  Яндекс
								.feedback__slide-text.b-txt
									p Идеальная клиника. в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
						.feedback__slide
							.feedback__slide-inner
								.feedback__slide-name.b-txt Виктор В.
								.feedback__slide-rating
									.feedback__slide-rating-stars
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
									.feedback__slide-rating-date
										| 2 марта 2013
										span.rating-date-separator ·
										|  Яндекс
								.feedback__slide-text.b-txt
									p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
						.feedback__slide
							.feedback__slide-inner
								.feedback__slide-name.b-txt Виктор В.
								.feedback__slide-rating
									.feedback__slide-rating-stars
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star1.svg', alt='rating')
										img(src='./images/icons/star-disabled.svg', alt='rating')
										img(src='./images/icons/star-disabled.svg', alt='rating')
									.feedback__slide-rating-date
										| 2 марта 2013
										span.rating-date-separator ·
										|  Яндекс
								.feedback__slide-text.b-txt
									p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
					a.feedback__show-all-mobile.btn.btn-bg.m-btn(href='./reviews.html') Все отзывы
				.feedback__middle
					img.feedback__middle-img(src='./images/feedback/girl.png', alt)
					.feedback__slider.universal-slider
						.swiper-wrapper
							.swiper-slide
								.feedback__slide
									.feedback__slide-inner
										.feedback__slide-name.b-txt Виктор В.
										.feedback__slide-rating
											.feedback__slide-rating-stars
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star-disabled.svg', alt='rating')
											.feedback__slide-rating-date
												| 2 марта 2013
												span.rating-date-separator ·
												|  Яндекс
										.feedback__slide-text.b-txt
											p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
							.swiper-slide
								.feedback__slide
									.feedback__slide-inner
										.feedback__slide-name.b-txt Виктор В.
										.feedback__slide-rating
											.feedback__slide-rating-stars
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star-disabled.svg', alt='rating')
												img(src='./images/icons/star-disabled.svg', alt='rating')
											.feedback__slide-rating-date
												| 2 марта 2013
												span.rating-date-separator ·
												|  Яндекс

										.feedback__slide-text.b-txt
											p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
							.swiper-slide
								.feedback__slide
									.feedback__slide-inner
										.feedback__slide-name.b-txt Виктор В.
										.feedback__slide-rating
											.feedback__slide-rating-stars
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
											.feedback__slide-rating-date
												| 2 марта 2013
												span.rating-date-separator ·
												|  Яндекс
										.feedback__slide-text.b-txt
											p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
							.swiper-slide
								.feedback__slide
									.feedback__slide-inner
										.feedback__slide-name.b-txt Виктор В.
										.feedback__slide-rating
											.feedback__slide-rating-stars
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star1.svg', alt='rating')
												img(src='./images/icons/star-disabled.svg', alt='rating')
												img(src='./images/icons/star-disabled.svg', alt='rating')
											.feedback__slide-rating-date
												| 2 марта 2013
												span.rating-date-separator ·
												|  Яндекс
										.feedback__slide-text.b-txt
											p Идеальная клиника . в первую очередь хочу поблагодарить нашего любимого стоматолога Ирину Николаевну . Мы лечились у Ирины Николаевны в больнице "в африке " наш идеальный врач нашла подход к нашему ребенку. Все остальные врачи в один голос говорили ,что только под наркоз ,чего каждый родитель опасается. Но и мы конечно же, не хотели этого. Ирина Николаевна вылечила все зубы сыну, и мы очень сильно привязались к ней к ее грамотному общению с ребенком , каждое посещение теперь как праздник . Теперь наш идеальный врач работает в Иннова клиник , нам очень нравится здесь. Всем советую даже не сомневайтесь
						.slider__footer
							.slider__footer-pagination
								.swiper-pagination
							.slider__arrows.black-arrows
								.swiper-button-prev
								.swiper-button-next
				.feedback__footer
					.feedback__footer-body
						.feedback__footer-title Больше отзывов
							br
							| на других площадках
						.feedback__footer-sites
							a.feedback__footer-sites-link(href='#')
								img(src='./images/feedback/rating/ya.svg', alt='yandex')
								.feedback__footer-sites-rating.b-txt
									span 4,9
									|  из 5

							a.feedback__footer-sites-link(href='#')
								img(src='./images/feedback/rating/google.svg', alt='google')
								.feedback__footer-sites-rating.b-txt
									span 4,8
									|  из 5

							a.feedback__footer-sites-link(href='#')
								img(src='./images/feedback/rating/prodoctorov.svg', alt='prodoctorov')
								.feedback__footer-sites-rating.b-txt
									span 4,8
									|  из 5

							a.feedback__footer-sites-link(href='#')
								img(src='./images/feedback/rating/2gis.svg', alt='2gis')
								.feedback__footer-sites-rating.b-txt
									span 4,7
									|  из 5

	// Section Equipment
	section.equipment
		.container
			.equipment__body
				h2.equipment__title.h2-t Используем европейское оборудование и передовые технологии лечения
				.equipment__slider-body
					.equipment__slider.universal-slider
						.swiper-wrapper
							.swiper-slide
								.equipment__slide
									.equipment__slide-body
										.equipment__slide-info
											h3.equipment__slide-info-title.h3-t
												| Интраоральный сканер 3Shape
											.equipment__slide-info-text.b-txt
												| С помощью прибора можно снять цифровые слепки в 3D формате за одно
												| посещение. Процедура комфортна для пациента — никаких ложочек и
												| слепочных масс. Аппарат сканирует ротовую полость и выводит точное
												| изображение. Элайнеры, брекеты, коронки получатся идеальной формы, и
												| пациенту будет удобно их носить
										.equipment__slide-image
											img(src="./images/equipment/1.jpg", alt="equipment")
							.swiper-slide
								.equipment__slide
									.equipment__slide-body
										.equipment__slide-info
											h3.equipment__slide-info-title.h3-t Стоматологический визиограф
											.equipment__slide-info-text.b-txt
												| Диагностический аппарат, с помощью которого можно проводить обследование прямо в кресле и оценить состояние зубов в реальном времени — не нужно идти в рентген-кабинет. Это особенно удобно, если зуб уже вскрыт. Доза излучения в 10 раз меньше, чем при обычном рентгене.
										.equipment__slide-image
											img(src="./images/equipment/2.jpg", alt="equipment")
							.swiper-slide
								.equipment__slide
									.equipment__slide-body
										.equipment__slide-info
											h3.equipment__slide-info-title.h3-t Бинокуляры
											.equipment__slide-info-text.b-txt
												| Увеличительные стекла, которые максимально увеличивают рабочую зону и позволяют прорабатывать все труднодоступные зоны. Они снижают риск осложнений и сохраняют максимум здоровых тканей при лечении
										.equipment__slide-image
											img(src="./images/equipment/3.jpg", alt="equipment")
							.swiper-slide
								.equipment__slide
									.equipment__slide-body
										.equipment__slide-info
											h3.equipment__slide-info-title.h3-t DIAGNOcam
											.equipment__slide-info-text.b-txt
												| Лазерная диагностика, которая позволяет обнаружить кариес на самых ранних стадиях. Доктор может обнаружить изменения даже под пломбой — луч проходит через десневую и костную ткани, а камера фиксирует изображение и выводит его на монитор
										.equipment__slide-image
											img(src="./images/equipment/4.jpg", alt="equipment")
						.equipment__slider-control
							.equipment__slider-control-arrows.black-arrows
								.swiper-button-prev
								.swiper-button-next
							.equipment__slider-control-pagination
								.swiper-pagination

	// Section Portfolio
	section.portfolio.portfolio__mobile-white
		.container
			.portfolio__header
				h2.portfolio__title.h2-t За время работы собрали
					br
					| большой архив выполненных работ
				a.portfolio__show-all.line-link(href="./portfolio.html") Смотреть все работы
			.portfolio__slider.universal-slider
				.swiper-wrapper
					-
						var portfolio = [
							{
								image: 'portfolio1',
								category: 'Виниры',
								title: 'Тотальное преображение улыбки: 28 виниров и коронок',
								time: '2 недели',
							},
							{
								image: 'portfolio2',
								category: 'Имплантация',
								title: 'Сложное протезирование <br>на имплантах',
								time: '6 месяцев',
							},
							{
								image: 'portfolio3',
								category: 'Реставрация',
								title: 'Реставрация по закрытию трем и диастем',
								time: '2 визита',
							},
							{
								image: 'portfolio4',
								category: 'Реставрация',
								title: 'Реставрация по закрытию трем и диастем',
								time: '2 визита',
							},
							{
								image: 'portfolio5',
								category: 'Имплантация',
								title: 'Сложное протезирование <br>на имплантах',
								time: '6 месяцев',
							},
							{
								image: 'portfolio6',
								category: 'Виниры',
								title: 'Тотальное преображение улыбки: 28 виниров и коронок',
								time: '2 недели',
							},
						]
					for portfolioElem in portfolio
						// Slide
						.swiper-slide
							+portfolio-card(portfolioElem.image, portfolioElem.category, portfolioElem.title, portfolioElem.time)


				.slider__footer
					.slider__footer-pagination
						.swiper-pagination
					.slider__arrows
						.swiper-button-prev
						.swiper-button-next
			a.portfolio__show-all-mobile.btn.btn-bg.m-btn(href="./stocks.html") Все работы
	// Section Map
	+map()
	// Section QA
	section.bottom-accordion
		.container
			-
				var data = [
					{
						question: 'Есть ли рассрочка?',
						answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
						image: ''
					},
					{
						question: 'Есть ли детский прием?',
						answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
						image: ''
					},
					{
						question: 'Нужно ли менять пломбы при отбеливании?',
						answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
						image: ''
					},
					{
						question: 'Есть ли лечение под микроскопом?',
						answer: 'Есть через Тинькофф банк без процентов на 4-6 месяцев. Заявку можно подать прямо в нашем офисе. Однако при получении рассрочки не будут действовать никакие скидки и акции на услуги.',
						image: ''
					}
				]
			.bottom-accordion__body
				h2.qa__title.h2-t Ответы на часто задаваемые вопросы
				+accordion(data)

block scripts-start
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_Ru&apikey=d946dd14-2fe7-4617-a2f4-de241cb948e3")

