extends pug/base

append vars
	- title = "Примеры работ"
	- breadcrumbs = {pagesBefore:['Главная'], pagesCurrent:'Примеры работ'}

block content
	section.section-portfolio.container
		h1.h1-t.section-portfolio__title Примеры работ
		.section-portfolio__filters
			select.select.section-portfolio__filters-select
				option(value='Все услуги', selected) Все услуги
				option(value="Услуга 1") Услуга 1
				option(value="Услуга 2") Услуга 2
				option(value="Услуга 3") Услуга 3
			select.select.section-portfolio__filters-select
				option(value='Все врачи', selected) Все врачи
				option(value="Врач 1") Врач 1
				option(value="Врач 2") Врач 2
				option(value="Врач 3") Врач 3
			button.filter-button.section-portfolio__filters-button(data-modal="portfolio-filter")
				img.filter-button__icon(src="images/icons/filter.svg", alt)
				| Фильтры
		.section-portfolio__grid
			-
				var portfolio = [
					{
						image: 'portfolio1',
						category: 'Виниры',
						title: 'Тотальное преображение улыбки: 28 виниров и коронок',
						time: '2 недели',
					},
					{
						image: 'portfolio2',
						category: 'Имплантация',
						title: 'Сложное протезирование <br>на имплантах',
						time: '6 месяцев',
					},
					{
						image: 'portfolio3',
						category: 'Реставрация',
						title: 'Реставрация по закрытию трем и диастем',
						time: '2 визита',
					},
					{
						image: 'portfolio4',
						category: 'Реставрация',
						title: 'Реставрация по закрытию трем и диастем',
						time: '2 визита',
					},
					{
						image: 'portfolio5',
						category: 'Имплантация',
						title: 'Сложное протезирование <br>на имплантах',
						time: '6 месяцев',
					},
					{
						image: 'portfolio6',
						category: 'Виниры',
						title: 'Тотальное преображение улыбки: 28 виниров и коронок',
						time: '2 недели',
					},
					{
						image: 'portfolio1',
						category: 'Виниры',
						title: 'Тотальное преображение улыбки: 28 виниров и коронок',
						time: '2 недели',
					},
					{
						image: 'portfolio2',
						category: 'Имплантация',
						title: 'Сложное протезирование <br>на имплантах',
						time: '6 месяцев',
					},
					{
						image: 'portfolio3',
						category: 'Реставрация',
						title: 'Реставрация по закрытию трем и диастем',
						time: '2 визита',
					},
					{
						image: 'portfolio4',
						category: 'Реставрация',
						title: 'Реставрация по закрытию трем и диастем',
						time: '2 визита',
					},
					{
						image: 'portfolio5',
						category: 'Имплантация',
						title: 'Сложное протезирование <br>на имплантах',
						time: '6 месяцев',
					},
					{
						image: 'portfolio6',
						category: 'Виниры',
						title: 'Тотальное преображение улыбки: 28 виниров и коронок',
						time: '2 недели',
					}, {
						image: 'portfolio1',
						category: 'Виниры',
						title: 'Тотальное преображение улыбки: 28 виниров и коронок',
						time: '2 недели',
					},
					{
						image: 'portfolio2',
						category: 'Имплантация',
						title: 'Сложное протезирование <br>на имплантах',
						time: '6 месяцев',
					},
					{
						image: 'portfolio3',
						category: 'Реставрация',
						title: 'Реставрация по закрытию трем и диастем',
						time: '2 визита',
					},
					{
						image: 'portfolio9',
						category: 'Test1',
						title: 'TestTestTest1',
						time: '85 визитов',
					},
					{
						image: 'portfolio10',
						category: 'Test2',
						title: 'TestTestTest2',
						time: '85 визитов',
					},
					{
						image: 'portfolio11',
						category: 'Test3',
						title: 'TestTestTest3',
						time: '85 визитов',
					},
				]
			for portfolioElem in portfolio
				+portfolio-card(portfolioElem.image, portfolioElem.category, portfolioElem.title, portfolioElem.time)
		.section-portfolio__button-box
			button.btn.btn-bg.s-btn.section-portfolio__button Показать еще 15 работ
