extends pug/base

append vars
	- title = "Цены"
	- breadcrumbs = {pagesBefore:['Главная'], pagesCurrent:'Цены'}

block content
	// Section Service Veneers
	section.page-prices
		.page-prices__body
			.container
				h1.page-prices__title.h1-t Цены на лечение в Иннова Клиник
				.page-prices__items
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Консультация',
									price: '600',
									about: 'Изучения анкеты здоровья, сбор сведений о состояния здоровья. Макрофотографии и сканирование зубов для детального изучения и ознакомления пациента с ситуацией в полости рта. Составление предварительного плана лечения',
								}
							]
						+ service-price('', 'Первичная консультация врача-стоматолога', '', priceData)
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Реставрация зуба фотокомпозитами последнего поколения',
									price: 'от 3 500',
									about: 'В зависимости от степени разрушения зуба',
								}
							]
						+ service-price('', 'Лечение кариозных полостей', '', priceData)
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Композитный Винир',
									price: 'от 7 000',
									about: '',
								},
								{
									name: 'Художественная реставрация',
									price: 'от 5 000',
									about: 'Изменение цвета зубов без обточки нанополимером (нанопокрытие). Устранение диастем, стираемости',
								},
								{
									name: 'Реставрация зуба фотокомпонентами/нанополимерами',
									price: 'от 5 000',
									about: 'В зависимости от степени разрушения зуба',
								},
								{
									name: 'Фотоотбеливание зубов ZOOM 4 White Speed',
									price: 'от 35 000',
									about: '',
								},
								{
									name: 'Профессиональное отбеливание зубов клиническое аппаратное (зона улыбки)',
									price: '19 500',
									about: '',
								},
							]
						+ service-price('', 'Эстетическая стоматология', '', priceData)
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Имплантация зубов NeoBiotech',
									price: '31 000',
									about: '',
								},
								{
									name: 'Имплантация зубов Nobel Biocare',
									price: '52 000',
									about: 'Изменение цвета зубов без обточки нанополимером (нанопокрытие). Устранение диастем, стираемости',
								},
								{
									name: 'Имплантация зубов Osstem',
									price: '31 000',
									about: 'В зависимости от степени разрушения зуба',
								},
								{
									name: 'Имплантация зубов Strauman',
									price: '51 000',
									about: '',
								},
							]
						+ service-price('', 'Имплантология', 'Разница стоимости обусловлена разными марками имплантационных систем', priceData)
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Элайнеры FlexiLigner',
									price: 'от 184 000',
									about: 'Ортодонтическая коррекция съемным ортодонтическим аппаратом с применением индивидуально изготовленных невидимых элайнеров системы FlexiLigne',
								},
								{
									name: 'Имплантация зубов Nobel Biocare',
									price: 'от 100 000',
									about: 'Ортодонтическая коррекция съемным ортодонтическим аппаратом с применением индивидуально изготовленных невидимых элайнеров системы Kids Ligner',
								},
								{
									name: 'Исправление прикуса брекет-системой Damon Q',
									price: '50 000',
									about: '',
								},
								{
									name: 'Исправление прикуса брекет-системой Damon Q2',
									price: '50 000',
									about: '',
								},
								{
									name: 'Исправление прикуса брекет-системой Damon Clear',
									price: '65 000',
									about: '',
								},
								{
									name: 'Исправление прикуса брекет-системой Experience',
									price: '45 000',
									about: '',
								},
								{
									name: 'Исправление прикуса брекет-системой Experience Керамика',
									price: '60 000',
									about: '',
								},
							]
						+ service-price('', 'Профессиональная гигиена полости рта', '', priceData)
					.page-prices__item
						-
							var priceData = [
								{
									name: 'Композитный Винир',
									price: 'от 7 000',
									about: '',
								},
								{
									name: 'Художественная реставрация',
									price: 'от 5 000',
									about: 'Изменение цвета зубов без обточки нанополимером (нанопокрытие). Устранение диастем, стираемости',
								},
								{
									name: 'Реставрация зуба фотокомпонентами/нанополимерами',
									price: 'от 8 000',
									about: 'В зависимости от степени разрушения зуба',
								},
								{
									name: 'Фотоотбеливание зубов ZOOM 4 White Speed',
									price: 'от 35 000',
									about: '',
								},
								{
									name: 'Профессиональное отбеливание зубов клиническое аппаратное (зона улыбки)',
									price: '19 500',
									about: '',
								},
							]
						+ service-price('', 'Ортодонтия', '', priceData)


block scripts-start
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_Ru&apikey=d946dd14-2fe7-4617-a2f4-de241cb948e3")
