extends pug/base

append vars
	- title = "Налоговый вычет"
	- breadcrumbs = {pagesBefore:['Главная'], pagesCurrent:'Налоговый вычет'}

block content
	// Section Deduction
	section.section-deduction.container
		.section-deduction__content
			h1.h2-t.section-deduction__title Как получить налоговый вычет за лечение зубов?

			.section-deduction__content-block
				p Согласно налоговому кодексу Российской Федерации у граждан есть возможность вернуть 13% от суммы оплаты за лечение, так называемый социальный налоговый вычет. Его можно получить за свое лечение или лечения супруга (супруги), родителей и детей до 18 лет.
				img(src="./images/deduction/img.jpg", alt)

			.section-deduction__content-block
				h2.h4-t Сколько вернет ИФНС?
				p Максимальный вычет на лечение 15 600 руб. Сумма всех социальных вычетов ограничена суммой 120 000 руб. (120 000×13%=15 600 руб.) Максимальный вычет на дорогостоящее лечение не ограничен. Расходы на дорогостоящее лечение ×13%.
				p Например, вы заплатили за дорогостоящую операцию 200 000 руб. и вы можете получить вычет 26 000 руб. (200 000 руб. ×13%)
				p В стоматологии к дорогостоящему лечению относятся имплантация, протезирование на имплантах.

			.section-deduction__content-block
				h2.h4-t Получить налоговый вычет вы можете, если платите налоги, то есть официально трудоустроены
				p Налоговый вычет можно получить за три предыдущих года, то есть сейчас можно подать на вычет за 2018, 2019 и 2020 года.
				h3 Социальный налоговый вычет на лечение может получить физлицо, оплатившее:
				ul.list-yellow-marker
					li.list-yellow-marker__elem Медицинские услуги, в том числе дорогостоящие, оказанные ему самому, его супругу (супруге), родителям, а также детям (в том числе усыновленным) и подопечным в возрасте до 18 лет (далее — члены семьи);
					li.list-yellow-marker__elem Назначенные врачом лекарства, в том числе для членов семьи;
					li.list-yellow-marker__elem Страховые взносы по договору ДМС, заключенному в целях своего лечения или лечения членов семьи.
				h3 Какие документы необходимы:
				ul.list-yellow-marker
					li.list-yellow-marker__elem Договор с клиникой;
					li.list-yellow-marker__elem Копия лицензии клиники;
					li.list-yellow-marker__elem Справка установленного образца из клиники об оказанных услугах и их стоимости;
					li.list-yellow-marker__elem Необходимо заполнить налоговую декларацию по форме 3НДФЛ;
					li.list-yellow-marker__elem Справка о зарплате с места работы по форме 2НДФЛ;
					li.list-yellow-marker__elem Копия паспорта;
					li.list-yellow-marker__elem Заявление в налоговую.
				p Чтобы получить налоговый вычет, не обязательно идти в налоговую, можно подать документы через личный кабинет налогоплательщика на сайте
					|
					|
					a(href="mailto:lkfl.nalog.ru") lkfl.nalog.ru
				p Подробнее о социальных налоговых вычетах вы можете узнать на официальном сайте
					|
					|
					a(href="https://www.nalog.gov.ru/rn77/taxation/taxes/ndfl/nalog_vichet/soc_nv/soc_nv_pm/" target="_blank" rel="noreferrer nofollow") федеральной налоговой службы

