* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a {
	color: inherit;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
}

button {
	cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

legend {
	display: block;
}

img, svg {
	max-width: 100%;
	height: auto;
}

body {
	position: relative;
	font-family: $font-primary;
	line-height: normal;
}

body.noscroll {
	overflow-y: hidden;
}

.bg {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: .3s all;
}

.blackout {
	opacity: 1;
	visibility: visible;
}

.modal-bg {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 35;
	transition: .3s all;
}

.modal-bg.active {
	opacity: 1;
	visibility: visible;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	transition: .3s ease-in-out;
}

.btn-bg {
	background: #337AE0;
	color: #FFF;
}

.btn-bg:disabled {
	background: #777777;
}

.btn-bg:disabled:hover {
	background: #777777;
	color: #FFF;
}

.btn-bg:hover {
	background: #FFAB2B;
	color: #15171B;
}

.btn-none-bg {
	border: 1px solid #337AE0;
	color: #337AE0;
}

.btn-none-bg:hover {
	border: 1px solid #15171B;
	color: #15171B;
}


.btn-scroll-up {
	background: #FFAB2B;
	color: #15171B;
}

.s-btn {
	padding: 13px 30px;
}

.xs-btn {
	padding: 10px 30px;
}

.m-btn {
	padding: 16px 30px;
}

.l-btn {
	padding: 19px 30px;
}

.btn-about-universal {
	position: relative;
	display: flex;
	align-items: center;
	gap: 16px;
	max-width: 166px;
	width: 100%;
	border-radius: 100px;
	font-size: 16px;
	font-weight: 500;
	padding: 15px 22px 15px 55px;
	overflow: hidden;
}

.btn-about-universal span {
	z-index: 1;
}

.btn-about-universal::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 14px;
	background-repeat: no-repeat;
	background-position: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	transition: left .2s ease-in;
}

.btn-about {
	background: #FFF;
	color: #337AE0;
}

.btn-about::before {
	background-image: url("../images/icons/arrow-right-btn.svg");
	background-color: #337AE0;
	width: 30px;
	height: 30px;
	transition: transform .2s ease-in;
}

.btn-about:hover::before {
	transform: rotate(45deg);
}

.btn-about::after {
	background-color: #337AE0;
}

.btn-whatsapp {
	background: #FFF;
	color: #337AE0;
	padding: 15px 14px 15px 65px;
}

.btn-whatsapp::before {
	background-image: url("../images/icons/whatsapp.svg");
}

.btn-whatsapp::after {
	background-color: #25D366;
}

.btn-telegram {
	background: #FFF;
	color: #337AE0;
	padding: 15px 14px 15px 65px;
}

.btn-telegram::after {
	background-color: #37AEE2;
}

.btn-telegram::before {
	background-image: url("../images/icons/telegram.svg");
}

.btn-viber {
	background: #FFF;
	color: #337AE0;
	padding: 15px 14px 15px 65px;
}

.btn-viber::before {
	background-image: url("../images/icons/viber.svg");
}

.btn-viber::after {
	background-color: #7F4DA0;
}

.btn-whatsapp,
.btn-telegram,
.btn-viber {
	width: 171px;
}

.btn-about span,
.btn-whatsapp span,
.btn-telegram span,
.btn-viber span {
	transition: color .2s ease-in;
}

.btn-about:hover:hover span,
.btn-whatsapp:hover span,
.btn-telegram:hover span,
.btn-viber:hover span {
	color: #fff;
}

.btn-about::after,
.btn-whatsapp::after,
.btn-telegram::after,
.btn-viber::after {
	content: '';
	position: absolute;
	top: 0;
	left: -95px;
	bottom: 0;
	margin: auto;
	width: 270px;
	height: 200px;
	transform: scale(0);
	border-radius: 50%;
	transition: transform .2s ease-in;
}

.btn-about:hover::before,
.btn-whatsapp::before,
.btn-telegram::before,
.btn-viber::before {
	z-index: 5;
}

.btn-whatsapp:hover::before,
.btn-telegram:hover::before,
.btn-viber:hover::before {
	left: 18px;
}

.btn-about:hover::after,
.btn-whatsapp:hover::after,
.btn-telegram:hover::after,
.btn-viber:hover::after {
	transform: scale(1);
}

.get-consultation {
	position: relative;
	width: 167px;
	height: 167px;

	@include tablet-desktop() {
		display: none;
	}
}

.get-consultation::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 167px;
	height: 167px;
	background-image: url("../images/icons/btn-get-consult-outer.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.get-consultation::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 70px;
	height: 70px;
	background-image: url("../images/icons/btn-get-consult-inner.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #007aff;
	border-radius: 50%;
}

.get-consultation:hover::after {
	animation-name: rotate-btn;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

.appointment-consultation-btn {
	position: relative;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.7;
	text-transform: uppercase;
}

.appointment-consultation-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 160px;
	height: 160px;
	background-color: #007aff;
	border-radius: 50%;
	z-index: -1;
}

.appointment-consultation-btn:hover {
	animation-name: rotate-btn2;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}


@keyframes rotate-btn {
	from {
		transform: rotate(45deg) scale(1);
	}
	50% {
		transform: rotate(85deg) scale(1.2);
		background-color: #FFAB2B;
	}
	to {
		transform: rotate(45deg) scale(1.1);
		background-color: #FFAB2B;
	}
}

@keyframes rotate-btn2 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

/*=============NAVIGATION=============*/
.navigation {
	width: 100%;
	margin: 145px 0 0 0;
}

.navigation__body {

}

.navigation__breadcrumbs {
	margin: 0 0 20px 0;
}

.breadcrumbs {
	color: #7A7E84;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.navigation__page-title {

}

/*=============NAVIGATION=============*/


.main {
}

/*===============MAIN=============*/
.section__main {
	margin: 145px 0 0 0;
	position: relative;

	@include desktop-large() {
		//display: flex;
	}

	@include tablet-desktop() {
		margin: 64px 0 0 0;
		flex-direction: column;
	}
}

.section__main-body {
	position: relative;
	//display: flex;
	//justify-content: space-between;
	//gap: 30px;
}

.section__main-text {
	padding: 80px 0 400px 0;
	//padding: 80px 0;

	@include tablet-desktop() {
		padding: 48px 0 40px 0;

	}
}

.main__title {
	color: #164D9D;
	font-size: 70px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 60px 0;

	@include tablet-desktop() {
		font-size: 36px;
		margin: 0 0 20px 0;
		line-height: 1.25;
	}
}

.main-text {
	color: #164D9D;
	text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
	font-size: 26px;
	font-weight: 600;
	max-width: 560px;

	@include desktop() {
		max-width: 300px;
	}

	@include tablet-desktop() {
		max-width: none;
		font-size: 16px;
		font-weight: 500;
	}
}

.section__main-consultation-btn {
	display: none;
	margin: 32px 0 0 0;
	width: 100%;

	@include tablet-desktop() {
		display: block;
	}
}

.get-consultation {
	position: absolute;
	bottom: 30px;
	left: 80px;
	cursor: pointer;
}

.section__main-images {
	position: absolute;
	right: -210px;
	top: 0;
	z-index: -1;
	transition: top $transition-default;

	@media (max-width: 1920px) {
		right: -40px;
	}

	@include desktop-extra-large() {
		top: 130px;
		right: 0;
	}

	@media (max-width: 1300px) {
		top: 300px;
	}

	@include tablet-desktop() {
		position: relative;
		top: auto;
		margin: 0 -15px;
	}

}

.section__main-tile {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 30px 100px 100px 30px 100px 100px 100px;
	grid-template-rows: repeat(8, 100px);
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    " . . img4 img4 img4 img4 img4 img4 img5 img5 img5"
    " . . img4 img4 img4 img4 img4 img4 img5 img5 img5"
    " . . img4 img4 img4 img4 img4 img4 img3 img3 img3"
    " . . img4 img4 img4 img4 img4 img4 img3 img3 img3"
    " . . img4 img4 img4 img4 img4 img4 img3 img3 img3"
    "img1 img1 img1 img1 img1 img2 img2 img2 img3 img3 img3"
    "img1 img1 img1 img1 img1 img2 img2 img2 img3 img3 img3"
    "img1 img1 img1 img1 img1 img2 img2 img2 img3 img3 img3";

	@include tablet-desktop() {
		grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
		gap: 5px 5px;
		grid-template-areas:
		"img4 img4 img4 img4 img4 img4 img5 img5 img5"
		"img4 img4 img4 img4 img4 img4 img5 img5 img5"
		"img4 img4 img4 img4 img4 img4 img3 img3 img3"
		"img1 img1 img1 img1 img2 img2 img3 img3 img3"
		"img1 img1 img1 img1 img2 img2 img3 img3 img3"
		"img1 img1 img1 img1 img2 img2 img3 img3 img3"
		"img1 img1 img1 img1 img2 img2 img3 img3 img3"
		"img1 img1 img1 img1 img2 img2 img3 img3 img3";
	}

	@include desktop-extra-large() {
		grid-template-columns: 70px 70px 70px 70px 30px 70px 70px 30px 70px 70px 70px;
		grid-template-rows: repeat(4, 100px);
		gap: 10px 10px;
	}

	@media (max-width: 1300px) {
		grid-template-columns: 50px 50px 50px 50px 10px 50px 50px 10px 50px 50px 50px;
		grid-template-rows: repeat(2, 100px);
	}

	@include tablet-desktop() {
		grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
		gap: 5px 5px;
	}

}

.section__main-tile-image-video {
	max-width: 460px;
	max-height: 489px;
}

.section__main-tile-image-video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100px;
	overflow: hidden;
}

.section__main-tile-image:nth-child(5) {
	grid-area: img3;
	margin: auto 0 0 0;
}

.section__main-tile-image:nth-child(4) {
	grid-area: img2;
	margin: auto 0;
}

.section__main-tile-image:nth-child(3) {
	grid-area: img1;
	margin: auto 0 0 0;
}

.section__main-tile-image:nth-child(1) {
	grid-area: img4;
}

.section__main-tile-image:nth-child(2) {
	grid-area: img5;
	text-align: center;
	padding: 45px 0 0 0;

	@include tablet-desktop() {
		//padding: 40px 0 0 0;
	}
}

.section__main-tile-image {
}

.section__main-tile-image img {
}

.section__main-tile-image:nth-child(1) img {

}
.section__main-tile-image:nth-child(2) img {
	width: 100%;
	max-width: 234px;
	max-height: 234px;
	border-radius: 50%;
	object-fit: contain;
}
.section__main-tile-image:nth-child(3) img {
	width: 100%;
	max-width: 400px;
	max-height: 267px;
	border-radius: 100px;
	object-fit: contain;
}
.section__main-tile-image:nth-child(4) img {
	width: 100%;
	max-width: 206px;
	max-height: 206px;
	border-radius: 50%;
	object-fit: contain;
}
.section__main-tile-image:nth-child(5) img {
	width: 100%;
	max-width: 308px;
	max-height: 409px;
	border-radius: 100px;
	object-fit: contain;
}

@media (max-width: 1300px) {
	.section__main-tile-image:nth-child(3) img {
		border-radius: 43px;
	}
	.section__main-tile-image:nth-child(5) img {
		border-radius: 43px;
	}
}


/*==============/MAIN=============*/


/*==============SUBMAIN=============*/

.submain {
	margin: 140px 0 0 0;

	@include tablet-desktop() {
		margin: 120px 0 0 0;
	}
}

.submain-body {
	margin: 0 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 750px;
}

.submain-comment {
	text-indent: 75px;
	color: #15171B;
	font-size: 34px;
	font-weight: 500;
	line-height: normal;
	margin: 0 0 39px 0;

	@include tablet-desktop() {
		font-size: 24px;
		margin: 0 0 32px 0;
		text-indent: 0;
		line-height: 1.3;
	}
}

.submain__author {
	display: flex;
	align-items: center;
	gap: 30px;
}

.submain__author-image {
}

.submain__author-image img {
}

.submain__author-about {
}

.submain__author-name {
	color: #15171B;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 7px 0;

	@include tablet-desktop() {
		font-size: 16px;
	}
}

.submain__author-position {
	color: #7A7E84;
	max-width: 370px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.45;

	@include tablet-desktop() {
		font-size: 14px;
	}
}

/*=============/SUBMAIN=============*/

/*==============SERVICES==============*/

.services-page {
	padding: 0 0 160px 0;
}

.services__page-title {
	margin: 0 0 40px 0;
}

.services {
	padding: 140px 0;
}

.services__title {
	color: #15171B;
	font-size: 38px;
	font-weight: 600;
	max-width: 710px;
	margin: 0 0 50px 0;

	@include tablet-desktop() {
		font-size: 24px;
		line-height: 1.25;
		margin: 0 0 32px 0;
	}
}

.services__types {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	margin: 0 0 40px 0;

	@include mobile() {
		gap: 24px;
	}
}

.service__type {
	position: relative;
	flex: 0 1 48%;
	border-radius: 16px;
	transition: border-radius .3s ease-in-out;

	@include desktop() {
		flex: 1 1 48%;
	}

	@include tablet-desktop() {

	}
}

.service__type-inner {
	position: relative;
	height: 272px;
	border-radius: 16px;
	overflow: hidden;
	transition: border-radius .3s ease-in-out;

	@include tablet-desktop() {
		height: 426px;

	}
}

.service__type:hover,
.service__type:hover .service__type-inner {
	border-radius: 36px;
}

.cyan-color {
	background-color: #D5EFFA;
}

.yellow-color {
	background-color: #FFEBC3;
}

.light-green-color {
	background-color: #D0F1DD;
}

.lavender-color {
	background-color: #E1EBFB;
}

.purple-color {
	background-color: #EEE6FB;
}

.light-lilac-color {
	background-color: #FFE2D2;
}

.light-cyan-color {
	background-color: #DFE9FA;
}

.service__type-body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 38px 32px;
	z-index: 1;


	@include mobile() {
		font-size: 16px !important;
	}
	@include tablet-desktop() {
		height: auto;
	}
}

.service__type-name {
	color: #15171B;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	max-width: 365px;

	@include mobile() {
		font-size: 16px;
	}
}

.service__type-about {
	margin: 0 0 12px 0;
	max-width: 365px;

	@include mobile() {
		font-size: 16px !important;
	}
}

.service__type-bottom {
	margin: auto 0 0 0;
	display: flex;
	align-items: center;
	gap: 36px;

	@include tablet-desktop() {
		margin: 8px 0 0 0;
	}
}

.service__type-link {

}

.service__type-link a {

}

.service__type-price {
	color: #3A3C40;
	font-size: 16px;
	font-weight: 600;
}

.service__type-bg {

}

.service__type-bg img {
	position: absolute;
	bottom: 0;
	right: 0;
	/*width: 272px;*/
	z-index: 0;
}


.service__type-top {
	position: absolute;
	top: -12px;
	left: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;

	@include mobile() {
		left: 16px;
	}
}

.service__type-what {
	padding: 8px 14px;
	border-radius: 100px;
	border: 1px solid #CFD3DA;
	background: #FFF;
	color: #3A3C40;
	font-size: 9px;
	font-weight: 700;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

.service__type-sale {
	padding: 8px 14px;
	border-radius: 100px;
	background: #E84848;
	color: #FFF;
	font-size: 9px;
	font-weight: 700;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

.services_btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	max-width: 320px;

	@include mobile() {
		max-width: none;
		width: 100%;
	}
}

/*==============/SERVICES==============*/

/*=================STOCKS==============*/
.stocks {
	position: relative;
	overflow: hidden;
	background-color: #242424;
	padding: 120px 0 170px 0;
	margin: 0 0 50px 0;

	@include tablet-desktop() {
		padding: 56px 0;
		border-radius: 16px;
	}
}

.stocks__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 15px;
	margin: 0 0 50px 0;

	@include tablet-desktop() {
		margin: 0 0 32px 0;
	}
}

.stocks__title {
	color: #fff;
	max-width: 520px;
}

.line-link, .line-link-dark {
	position: relative;
	display: block;
	font-size: 16px;
	padding: 0 19px 0 0;
	line-height: 1;
}

.line-link {
	color: #FFF;
	transition: color .3s ease-in-out;
}

.line-link-dark {
	color: #3A3C40;
}

.line-link::after,
.line-link-dark::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto 0;
	width: 13px;
	height: 13px;
	transition: right .3s ease-in-out, background-image .3s ease-in-out;
}

.line-link::after {
	background-image: url("../images/icons/arrow-right.svg");
}

.line-link-dark::after {
	background-image: url("../images/icons/arrow-right-dark.svg");
}

.line-link:hover {
	color: #FFAB2B;
}

.line-link-dark:hover {
	color: #337AE0;
}

.line-link:hover::after,
.line-link-dark:hover::after {
	right: -5px;
}

.line-link:hover::after {
	background-image: url("../images/icons/arrow-right-hover.svg");
}

.line-link-dark:hover::after {
	background-image: url("../images/icons/arrow-right-dark-hover.svg");
}

.stocks__slider {
	position: relative;
}

.stock__link {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	transition: border-radius .2s ease-in-out;
}

.stock__link:hover {
	border-radius: 36px;
}

.stock__link::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	width: 60px;
	height: 60px;
	background-image: url("../images/icons/arrow-more.svg");
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity .2s ease-in-out, bottom .2s ease-in-out;
	z-index: 4;
}

.stock__link:hover::before {
	opacity: 1;
	bottom: 0;
}

.stock__link img {
	display: block;
	max-height: 540px;
	object-fit: contain;
	height: 100%;
	transition: transform .2s ease-in-out;
}

.stock__link:hover img {
	transform: scale(1.05);
}

.stocks__show-all {
	@include tablet-desktop() {
		display: none;
	}
}

.stocks__mobile-show-all {
	display: none;
	border-radius: 10px;
	background: #FFF;
	text-align: center;
	margin: 32px 0 0 0;

	@include tablet-desktop() {
		display: block;
	}
}

.universal-slider .swiper-scrollbar {
	display: none;
}

.slider__footer {
	margin: 47px 30px 0 0;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.slider__footer .swiper-pagination {
	max-width: 92% !important;
}

.universal-slider .slider__footer {
	@include tablet-desktop() {
		display: none;
	}
}

.universal-slider .swiper-pagination-progressbar.swiper-pagination-horizontal {
	height: 1px;
}

.stocks__slider .swiper-pagination-progressbar {
	background: #4b4b4b;
}

.universal-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #FFAB2B;

}

.universal-slider .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.universal-slider .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: none;
}

.universal-slider .swiper-button-prev,
.universal-slider .swiper-button-next {
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: background-color .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
}

.universal-slider .swiper-button-prev {
	background-image: url("../images/icons/slider-left-arrow.svg");
}

.universal-slider .swiper-button-next {
	background-image: url("../images/icons/slider-right-arrow.svg");
}

.universal-slider .swiper-button-prev:hover,
.universal-slider .swiper-button-next:hover {
	background-color: #FFAB2B;
}

.universal-slider .swiper-button-prev:hover {
	left: 7px;
}

.universal-slider .swiper-button-next:hover {
	right: 7px;
}

.slider__arrows {
	margin: 0 -30px 0 0;
	width: 110px;
	position: relative;
}

/*================/STOCKS==============*/

/*================DOCTORS==============*/

.doctors {
	position: relative;
	overflow: hidden;
	padding: 10px 0;
}

.doctors__header {

}

.doctors__title {
	max-width: 720px;
	margin: 0 0 90px 0;

	@include mobile() {
		margin: 0 0 70px 0;
	}
}

.doctors__slider {
	position: relative;
	height: 390px;
}

.doctor__slide {
	margin-top: -40px;
}

.doctors__mobile-show-all {
	display: none;
	text-align: center;

	@include tablet-desktop() {
		display: block;
	}
}

.doctor__slide-inner {
	padding: 30px 30px 30px 30px;
	width: 453px;
}


.universal-slider .black-arrows .swiper-button-prev {
	background-image: url("../images/icons/slider-left-arrow-black.svg") !important;
}

.universal-slider .black-arrows .swiper-button-next {
	background-image: url("../images/icons/slider-right-arrow-black.svg") !important;
}

/*================/DOCTORS==============*/

/*================BANNER-PLAN==============*/
.banner__plan {
	margin: 160px 0;

	@media (max-width: 1200px) {
		border-radius: 16px;
		background-color: #242424;
	}

	@include tablet-desktop() {
		margin: 50px 0 140px 0;
	}
	@include mobile() {
		margin: 4px 0 40px 0;
	}
}

.banner__plan-body {
	position: relative;

	@media (max-width: 1200px) {
		display: flex;
		align-items: center;
		margin: 0 auto;
		padding: 56px 0 64px;
	}

	@include tablet-desktop() {
		flex-direction: column-reverse;
	}
}

.banner__plan-left {
	border-radius: 40px;
	background: #242424;
	max-width: 980px;
}

.banner__plan-info {
	padding: 100px 80px;

	@media (max-width: 1200px) {
		padding: 0;

	}
}

.banner__plan-title {
	color: #FFF;
	max-width: 520px;
	margin: 0 0 20px 0;

	@include mobile() {
		max-width: 344px;
		margin: 0 0 12px 0;
	}
}

.banner__plan-text {
	color: #FFF;
	max-width: 400px;

	@include tablet-desktop() {
		max-width: none;
	}
	@include mobile() {
		font-size: 16px;
	}
}

.banner__plan-btn {
	margin: 135px 0 0 0;

	@media (max-width: 1200px) {
		margin: 32px 0 0 0;
	}
}

.btn-get-plan {
	background-color: #FFFFFF;
	border: 1px solid #15171B;
	color: #15171B;
	transition: background-color .2s ease-in-out;

	@include tablet-desktop() {
		margin: 0 auto;
	}
	@include mobile() {
		width: 100%;
	}
}

.btn-get-plan:hover {
	background-color: #FFAB2B;
}

.banner__plan-right {

	@include tablet-desktop() {
		margin: 0 0 24px 0;
	}
}

.banner__plan-img {
	position: absolute;
	top: 9%;
	right: 0;
	border-radius: 40px;

	@include desktop-large() {
		top: 25%;
	}

	@media (max-width: 1200px) {
		position: relative;
		top: 0;
	}

	&-video {
		max-width: 739px;
		max-height: 476px;

		video {
			overflow: hidden;
			border-radius: 40px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	img {
		@include desktop-large() {
			max-width: 600px;
		}
		@media (max-width: 1200px) {
			width: 100%;
		}
	}


}

.banner__plan-note {
	position: absolute;
	display: flex;
	bottom: 40px;
	left: -34px;

	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
	color: #15171B;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
	height: 60px;

	@media (max-width: 1200px) {
		left: 16px;
		bottom: 32px;
	}

	span {
		display: block;
		background-color: #FFFFFF;
		padding: 10px 20px 10px 80px;
		max-width: 277px;
		width: 100%;
		border-radius: 20px;
		margin: 0 0 0 -55px;

		@media (max-width: 1200px) {
			display: none;
		}

	}
}

.banner__plan-play {
	cursor: pointer;
	position: relative;
	width: 60px;
	height: 60px;
	background-color: #FFAB2B;
	border-radius: 20px;

	&::before {
		content: '';
		position: absolute;
		width: 26px;
		height: 26px;
		top: 0;
		left: 5px;
		right: 0;
		bottom: 0;
		margin: auto;
		background: url("../images/banner-plan/banner-play.svg") no-repeat center;
	}

	&.active {
		position: relative;
	}

	&.active::before {
		content: '';
		position: absolute;
		width: 26px;
		height: 26px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: url("../images/banner-plan/banner-pause.png") no-repeat center;
	}
}

/*===============/BANNER-PLAN==============*/

/*=================FEEDBACK================*/
.feedback {
	margin: 180px 40px 160px 40px;
	position: relative;
	border-radius: 40px;
	background: #F5F5F5;
	overflow: hidden;

	@include desktop() {
		margin: 60px 0;
		border-radius: 16px;

	}
}

.feedback__body {
	padding: 100px 0 142px;

	@include mobile() {
		padding: 56px 0;

	}
}

.feedback__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0 0 50px 0;

	@include mobile() {
		margin: 0 0 32px 0;
	}
}

.feedback__title {

}

.feedback__show-all {

	@include mobile() {
		display: none;
	}
}

.feedback__mobile {
	display: none;

	@include mobile() {
		display: block;
	}
}

.feedback__middle {
	position: relative;

	@include mobile() {
		display: none;
	}
}

.feedback__mobile-body {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.feedback__middle-img {
	position: absolute;
	top: 0;
	left: 0;

	@include desktop-large() {
		display: none;
	}
}

.feedback__slider {
}

.feedback__slider .swiper-wrapper {
	/*left: 310px;*/
}

.feedback__slide {
	padding: 50px 40px;
	border-radius: 16px;
	background: #FFF;
	max-width: 500px;

	@include mobile() {
		padding: 24px 16px;
		max-width: none;
	}
}

.feedback__slide-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.feedback__slide-name {
	color: #15171B;
	font-size: 20px;
	font-weight: 600 !important;
	line-height: normal;
	margin: 0 0 16px 0;

	@include mobile() {
		margin: 0 0 10px 0;
		font-size: 16px !important;
	}
}

.feedback__slide-rating {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 0 0 24px 0;

	@include mobile() {
		margin: 0 0 12px 0;
		gap: 12px;
	}
}

.feedback__slide-rating-stars {
	height: 18px;
	white-space: nowrap;
}

.feedback__slide-rating-date {
	color: #7A7E84;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.rating-date-separator {
	margin: 0 0 0 3px;
}

.feedback__slide-text {
	display: block;
}

.link-read-more {
	color: #337AE0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;

	span {
		color: #3A3C40;
	}
}

.feedback__show-all-mobile {
	margin: 32px 0 0 0;
}

.feedback__footer {
	margin: 72px 0 0 0;

}

.feedback__footer-body {
	display: flex;
	align-items: center;
	gap: 20px;

	@include tablet-desktop() {
		flex-direction: column;
		align-items: flex-start;
	}
}

.feedback__footer-title {
	color: #15171B;
	font-size: 26px;
	font-weight: 500;
	line-height: normal;
	max-width: 320px;
	width: 100%;

	@include tablet-desktop() {
		font-size: 20px;
		font-weight: 600;
	}

}

.feedback__footer-sites {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;

	@media (max-width: 1200px) {
		gap: 30px;
	}
	@include desktop() {
		gap: 15px;
		flex-wrap: wrap;
	}
	@include mobile() {
		gap: 8px;
	}
}

.feedback__footer-sites-link {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;

	@include desktop() {
		background-color: #fff;
		border-radius: 16px;
		flex: 0 1 47%;
	}

	@include tablet-desktop() {
		width: 170px;
		gap: 8px;
		height: 130px;
		flex: 1 1 47%;
	}

}

.feedback__footer-sites-link img,
.feedback__footer-sites-rating {
	z-index: 1;

	span {
		font-weight: 600;
	}
}

.feedback__footer-sites-link::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 50%;
	transform: scale(0);
	transition: transform .3s ease-in-out;
}

.feedback__footer-sites-link:hover::after {
	transform: scale(1);
}

.feedback__footer-sites-rating {
}


/*================/FEEDBACK================*/


/*================EQUIPMENT================*/

.equipment {
	margin: 0 0 160px 0;
}

.equipment__body {
}

.equipment__title {
	display: block;
	max-width: 790px;
	margin: 0 0 50px 0;

	@include tablet-desktop() {
		margin: 0 0 32px 0;
	}
}

.equipment__slider-body {
}

.equipment__slider {
	position: relative;
	overflow: hidden;
}

.equipment__slide {
}

.equipment__slide-body {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;

	@media (max-width: 1200px) {
		flex-direction: column-reverse;
		align-items: center;
		gap: 50px;
	}
}

.equipment__slide-info {
	margin: 50px 0 0 0;
	flex: 0 1 450px;

	@media (max-width: 1200px) {
		margin: 0;
		flex: 0 1 auto;
	}
}

.equipment__slide-info-title {
	margin: 0 0 28px 0;

	@include tablet-desktop() {
		margin: 0 0 12px 0;
		font-size: 18px !important;
	}
}

.equipment__slide-info-text {

	@include tablet-desktop() {
		font-size: 16px !important;
	}
}

.equipment__slide-image {
	position: relative;
	flex: 0 1 800px;

	@media (max-width: 1200px) {
		flex: 0 0 345px;
	}

	img {
		object-fit: cover;
		border-radius: 60px;
		overflow: hidden;

		@media (max-width: 1200px) {
			height: 345px;
			border-radius: 16px;
		}
	}

}

/*.equipment__slide-image::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.04;
	background-color: #000;
	border-radius: 36px;
}*/

.equipment__slide-image img {

}

.equipment__slider-control {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 50px;
	display: flex;
	gap: 40px;

	@include desktop-large() {
		margin: 20px 0 0 0;
		position: relative;
	}

	@media (max-width: 1200px) {
		position: absolute;
		top: 375px;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
		height: 100px;
		display: flex;
		justify-content: center;
	}

}

.equipment__slider-control-arrows {
	position: relative;
	width: 110px;

	@media (max-width: 1200px) {
		display: none;
	}
}

.equipment__slider .swiper-button-next,
.equipment__slider .swiper-button-prev {
	top: 0 !important;
}

.equipment__slider-control-pagination {


}

.equipment__slider .swiper-pagination {
	position: relative;
}

.equipment__slider .swiper-pagination-bullet-active {
	background: #FFAB2B;
}

/*================/EQUIPMENT================*/

/*================PORTFOLIO================*/

.portfolio {
	position: relative;
	overflow: hidden;
	background-color: #242424;
	padding: 120px 0 170px 0;

	@include tablet-desktop() {
		padding: 30px 0 100px 0;
	}
}

.portfolio__mobile-white {

	@include tablet-desktop() {
		background-color: #fff;
	}
}

.portfolio__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 15px;
	margin: 0 0 50px 0;
}

.portfolio__title {
	color: #fff;
	max-width: 700px;

	@include tablet-desktop() {
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}

.portfolio__mobile-white .portfolio__title {

	@include tablet-desktop() {
		color: #15171B;
	}
}

.portfolio__show-all {

	@include tablet-desktop() {
		display: none;
	}
}

.portfolio__slider {
	position: relative;
}

.portfolio__show-all-mobile {
	display: none;
	text-align: center;
	margin: 32px 0 0 0;

	@include tablet-desktop() {
		display: block;
	}
}

/*===============/PORTFOLIO================*/


/*==============Q&A================*/

.section__qa {
	margin: 0 0 160px 0;

	@include desktop() {
		margin: 0 auto 200px auto;
	}
	@include tablet-desktop() {
		margin: 0 auto 50px auto;
	}
}

.qa {
}

.qa__body {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: flex-start;

	@include desktop() {
		flex-direction: column;
	}
}

.qa__title {
	max-width: 430px;

	@include mobile() {
		margin: 0 0 32px 0;
	}
}

.qa__questions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 800px;
	width: 100%;
}

.qa__question-field {
	border-radius: 16px;
	overflow: hidden;
	background: #F5F5F5;
	padding: 25px 20px 30px 30px;

	@include tablet-desktop() {
		padding: 18px 55px 18px 30px;
	}
}

.qa__question-header {
	display: block;
	position: relative;
	cursor: pointer;
}

.qa__question-title {
	color: #3A3C40;
	transition: color .2s;
}

.qa__question-title:hover {
	color: #337AE0;
}

.qa__question-checkbox {
	position: relative;
	display: none;
}

.qa__question-arrow {
}

.qa__question-arrow::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 14px;
	width: 40px;
	height: 40px;
	background-image: url("../images/icons/qa-arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	transition: background-image .2s ease-in-out, background-color .2s ease-in-out, transform .2s ease-in-out;
}

.qa__question-arrow:hover::after {
	background-color: #FFFFFF;
	background-image: url("../images/icons/qa-arrow-active.svg");
	border-radius: 50%;
}


.qa__question-checkbox:checked ~ .qa__question-arrow::after {
	width: 40px;
	height: 40px;
	background-image: url("../images/icons/qa-arrow-active.svg");
	transform: rotate(-180deg);
	background-color: #FFFFFF;
}

.qa__question-checkbox:checked ~ .qa__question-title {
	color: #337AE0;
}

.qa__question-answer {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s;

	@include tablet-desktop() {
		font-size: 15px !important;
	}
}

.qa__question-answer.active {
	margin: 30px 0 0 0;
}


/*==============/Q&A================*/



