$color-black: #15171B;
$color-white: #fff;
$color-transparent: rgba(#fff, 0);

$color-text: #3A3C40;
$color-grey: #7A7E84;
$color-global-yellow: #FFAB2B;
$color-global-blue: #337AE0;
$color-disabled-grey: #A5A8AD;
$color-grey-back: #F5F5F5;
